# OS files
Desktop.ini
Thumbs.db
._*
*.DS_Store
*~
\#*\#
__*

# Cache and backup
*.bak
*.pyc
*-cache/

# Local data
*.sql*
*.log
logs/
pids
*.pid
*.seed

# Local dependencies
.bundle/
node_modules/

# Local environment settings
.docker-project
.envrc
env/
env3/

# Sass
*.css
*.css.map

# Local project ignores
templates/core/
templates/maas/
templates/phone/
/static/media/*/
maas-docs/
ubuntu-core-docs/
phone-docs
templates/documentation-builder/
documentation-builder/
conjure-up-docs/
templates/conjure-up/
landscape-docs/
templates/landscape/
