# Python
__pycache__/
env/
*.pyc

# Django
db.sqlite3

# Sass
.sass-cache/
*.css
*.css.map

# Node
.npm/
npm-debug.log*

# Runtime
pids
*.pid
*.seed

# Common
*.log
logs/

# Windows
Desktop.ini
Thumbs.db

# OSX
._*
*.DS_Store

# Linux
*~

# Environment
.python-version
.envrc

# Project
.compose-project-name
static/css
/.compose-project-name
django-error.log
npm-debug.log
templates/core/
templates/maas/
/static/media/*/
maas-docs/
ubuntu-core-docs/
node_modules/
yarn.lock
phone-docs
templates/phone
