Django==2.2.3
canonicalwebteam.custom_response_headers==0.2.0
canonicalwebteam.versioned-static==1.0.2
canonicalwebteam.yaml-responses==1.1.1
django-static-root-finder==0.3.1
django-asset-server-url==0.1
django-template-finder-view==0.3
django-yaml-redirects==0.5.4
statsd==3.3.0
gevent==1.4.0
talisker[gunicorn]==0.15.0
whitenoise==4.1.4
ubuntudesign.documentation-builder==1.6.2
