<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Install Locally with LXD | MAAS docs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/global.css" />
  </head>
  <body class="theme">
    <header class="p-navigation" role="banner">
      <div class="p-navigation__logo">
        <a class="p-navigation__link" href="/en/">
          <img
            src="/static/media/maas-logo.svg"
            alt="MAAS logo" style="height: 28px; vertical-align: bottom; margin-right: 0.5em;" />
          documentation
        </a>
      </div>
      <nav class="p-navigation__nav">
        <span class="u-off-screen">
          <a href="#main-content">Jump to main content</a>
        </span>
      </nav>
    </header>
    <div class="row">
      <div class="theme__wrap">
        <div class="col-3 theme__sidebar">
          <nav class="p-sidebar-nav">
            <ul class="p-sidebar-nav__list">
              
              <li class="p-sidebar-nav__group">
                
                <h4 class="p-sidebar-nav__header">Introduction</h4>
                

                
                <section id="settings" class="p-sidebar-nav__section">
                  <ul class="p-sidebar-nav__list">
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="index">
                        About MAAS
                      </a>
                      

                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="intro-management">
                        Management summary
                      </a>
                      

                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="intro-concepts">
                        Concepts and terms
                      </a>
                      

                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="intro-architecture">
                        Architectural overview
                      </a>
                      

                      
                    </li>
                    
                  </ul>
                </section>
                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <h4 class="p-sidebar-nav__header">Install & Configure</h4>
                

                
                <section id="settings" class="p-sidebar-nav__section">
                  <ul class="p-sidebar-nav__list">
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="installconfig-install">
                        Installation
                      </a>
                      

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-server-iso">
                              Install from Ubuntu Server ISO
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-package-install">
                              Install from packages
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-lxd-install">
                              Install into LXD
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-upgrade-to-2">
                              Upgrade from 1.9 to 2.0
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="installconfig-gui">
                        Access the GUI
                      </a>
                      

                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="installconfig-zones">
                        Configure zones
                      </a>
                      

                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="installconfig-network2">
                        Configure network
                      </a>
                      

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-network-static">
                              Static IPs
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-network-ipv6">
                              IPv6
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-proxy">
                              Proxy
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-network-stp">
                              STP
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      
                      <span class="p-sidebar-nav__link">Nodes</span>
                      

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-rack">
                              Rack Controller
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-add-nodes">
                              Add Nodes
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-tags">
                              Tags
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-kernel">
                              Kernel Boot Options
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-hwe-kernels">
                              HWE kernels
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="installconfig-images">
                        Images
                      </a>
                      

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-images-import">
                              Selection and Import
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-images-mirror">
                              Local Image Mirror
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                  </ul>
                </section>
                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <h4 class="p-sidebar-nav__header">Manage MAAS</h4>
                

                
                <section id="settings" class="p-sidebar-nav__section">
                  <ul class="p-sidebar-nav__list">
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="manage-account">
                        User Accounts
                      </a>
                      

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-account#add-a-user">
                              Add User
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-account#ssh-keys">
                              SSH Keys
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-account#api-key">
                              API Key
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-account#change-the-password">
                              Change the password
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="manage-maas-ha">
                        High Availability (HA)
                      </a>
                      

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-maas-ha#rack-controller-ha">
                              Rack Controller HA
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-maas-ha#region-controller-ha">
                              Region Controller HA
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-maas-ha#deploy-ha-with-juju">
                              Deploy HA with Juju
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="manage-power">
                        Power Driver Capabilities
                      </a>
                      

                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="manage-cli">
                        MAAS CLI
                      </a>
                      

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-cli-common">
                              Common Tasks
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-cli-images">
                              Image Management
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-cli-dhcp-snippets">
                              DHCP Snippets
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-cli-advanced">
                              Advanced Tasks
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                  </ul>
                </section>
                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <h4 class="p-sidebar-nav__header">Troubleshoot</h4>
                

                
                <section id="settings" class="p-sidebar-nav__section">
                  <ul class="p-sidebar-nav__list">
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="troubleshoot-faq">
                        FAQ
                      </a>
                      

                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="troubleshoot-getting-help">
                        Getting help
                      </a>
                      

                      
                    </li>
                    
                  </ul>
                </section>
                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <a class="p-sidebar-nav__link" href="ref-release-notes">Release notes</a>
                

                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <a class="p-sidebar-nav__link" href="http://maas.ubuntu.com/docs/index#developing-maas">Developer Guide</a>
                

                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <a class="p-sidebar-nav__link" href="http://maas.ubuntu.com/docs/api">API Documentation</a>
                

                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <a class="p-sidebar-nav__link" href="contributing">Help improve these docs</a>
                

                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <a class="p-sidebar-nav__link" href="https://github.com/CanonicalLtd/maas-docs/issues/new">Report a docs issue</a>
                

                
              </li>
              
            </ul>
          </nav>
        </div>
        <div class="col-12 theme__main">
          <main id="main-content" class="theme__inner">
            <h1 id="install-locally-with-lxd">Install locally with LXD<a class="anchor" href="#install-locally-with-lxd"></a></h1>
<p>Installing MAAS in a container is a typical setup for those users who would
like test MAAS, or would like to use their their machine for other tasks at the
same time. </p>
<p>MAAS running with LXD has the following requirements:</p>
<ul>
<li>Create a bridge (for example, it can be br0).</li>
<li>Install LXD and ZFS.</li>
<li>Create a Container profile for MAAS</li>
</ul>
<h3 id="install-lxd-and-zfs">Install LXD and ZFS<a class="anchor" href="#install-lxd-and-zfs"></a></h3>
<p>The first thing to do is to install LXD and ZFS:</p>
<pre><code class="bash">sudo apt-get install lxd zfsutils-linux
sudo modprobe zfs
sudo lxd init
</code></pre>

<h3 id="create-a-lxc-profile-for-maas">Create a LXC profile for MAAS<a class="anchor" href="#create-a-lxc-profile-for-maas"></a></h3>
<p>First, lets create a container profile by copying the default:</p>
<pre><code class="bash">lxc profile copy default maas
</code></pre>

<p>Second, bind the NIC inside the container (eth0) against the bridge on the
physical host (br0):</p>
<pre><code class="bash">lxc profile device set maas eth0 parent br0
</code></pre>

<p>Third, edit the container profile (lxc profile edit maas) with:</p>
<pre><code class="yaml">config:
  raw.lxc: |-
    lxc.cgroup.devices.allow = c 10:237 rwm
    lxc.aa_profile = unconfined
    lxc.cgroup.devices.allow = b 7:* rwm
  security.privileged: &quot;true&quot;
</code></pre>

<p>And lastly, ensure that the LXC container has loop devices added:</p>
<pre><code class="bash">for i in `seq 0 7`; do lxc profile device add maas loop$i unix-block path=/dev/loop$i; done
</code></pre>

<h3 id="launch-lxd-container">Launch LXD container<a class="anchor" href="#launch-lxd-container"></a></h3>
<p>Once the profile has been created, you can now launch the LXC container:</p>
<pre><code class="bash">lxc launch -p maas ubuntu:16.04 xenial-maas
</code></pre>

<h3 id="install-maas">Install MAAS<a class="anchor" href="#install-maas"></a></h3>
<p>Once the container is running, you can now install MAAS. First you need to
access the container with:</p>
<pre><code class="bash">lxc exec xenial-maas bash
</code></pre>

<p>You can now proceed with the <a href="installconfig-package-install">standard package
installation</a>. </p>
          </main>
        </div>
      </div>
    </div>
    <footer class="p-footer" role="contentinfo">
      <div class="row">
        <div class="col-12">
          <p>&copy; Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical Ltd.</p>
        </div>
      </div>
    </footer>
    <script>
      /* Add classes to links */
      var links = document.querySelectorAll('a');
      var nav = document.querySelector('.p-sidebar-nav');

      for (var linkIndex = 0; linkIndex < links.length; linkIndex++) {
        var link = links[linkIndex];

        /* Add external classes to external links */
        if (link.hostname && link.hostname != location.hostname) {
          link.className += ' p-link--external';
        }

        /* Add "is-active" class to the current nav link */
        if (nav.contains(link) && link.href && link.href.replace('index', '') == location.href) {
          link.className += ' is-active';
        }
      }
    </script>
  </body>
</html>