<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Managing IPv6 Networks | MAAS docs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/global.css" />
  </head>
  <body class="theme">
    <header class="p-navigation" role="banner">
      <div class="p-navigation__logo">
        <a class="p-navigation__link" href="/en/">
          <img
            src="/static/media/maas-logo.svg"
            alt="MAAS logo" style="height: 28px; vertical-align: bottom; margin-right: 0.5em;" />
          documentation
        </a>
      </div>
      <nav class="p-navigation__nav">
        <span class="u-off-screen">
          <a href="#main-content">Jump to main content</a>
        </span>
      </nav>
    </header>
    <div class="row">
      <div class="theme__wrap">
        <div class="col-3 theme__sidebar">
          <nav class="p-sidebar-nav">
            <ul class="p-sidebar-nav__list">
              
              <li class="p-sidebar-nav__group">
                
                <h4 class="p-sidebar-nav__header">Introduction</h4>
                

                
                <section id="settings" class="p-sidebar-nav__section">
                  <ul class="p-sidebar-nav__list">
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="index">
                        About MAAS
                      </a>
                      

                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="intro-management">
                        Management summary
                      </a>
                      

                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="intro-concepts">
                        Concepts and terms
                      </a>
                      

                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="intro-architecture">
                        Architectural overview
                      </a>
                      

                      
                    </li>
                    
                  </ul>
                </section>
                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <h4 class="p-sidebar-nav__header">Install & Configure</h4>
                

                
                <section id="settings" class="p-sidebar-nav__section">
                  <ul class="p-sidebar-nav__list">
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="installconfig-install">
                        Installation
                      </a>
                      

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-server-iso">
                              Install from Ubuntu Server ISO
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-package-install">
                              Install from packages
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-lxd-install">
                              Install into LXD
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-upgrade-to-2">
                              Upgrade from 1.9 to 2.0
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="installconfig-gui">
                        Access the GUI
                      </a>
                      

                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="installconfig-zones">
                        Configure zones
                      </a>
                      

                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="installconfig-network2">
                        Configure network
                      </a>
                      

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-network-static">
                              Static IPs
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-network-ipv6">
                              IPv6
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-proxy">
                              Proxy
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-network-stp">
                              STP
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      
                      <span class="p-sidebar-nav__link">Nodes</span>
                      

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-rack">
                              Rack Controller
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-add-nodes">
                              Add Nodes
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-tags">
                              Tags
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-kernel">
                              Kernel Boot Options
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-hwe-kernels">
                              HWE kernels
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="installconfig-images">
                        Images
                      </a>
                      

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-images-import">
                              Selection and Import
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-images-mirror">
                              Local Image Mirror
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                  </ul>
                </section>
                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <h4 class="p-sidebar-nav__header">Manage MAAS</h4>
                

                
                <section id="settings" class="p-sidebar-nav__section">
                  <ul class="p-sidebar-nav__list">
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="manage-account">
                        User Accounts
                      </a>
                      

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-account#add-a-user">
                              Add User
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-account#ssh-keys">
                              SSH Keys
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-account#api-key">
                              API Key
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-account#change-the-password">
                              Change the password
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="manage-maas-ha">
                        High Availability (HA)
                      </a>
                      

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-maas-ha#rack-controller-ha">
                              Rack Controller HA
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-maas-ha#region-controller-ha">
                              Region Controller HA
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-maas-ha#deploy-ha-with-juju">
                              Deploy HA with Juju
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="manage-power">
                        Power Driver Capabilities
                      </a>
                      

                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="manage-cli">
                        MAAS CLI
                      </a>
                      

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-cli-common">
                              Common Tasks
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-cli-images">
                              Image Management
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-cli-dhcp-snippets">
                              DHCP Snippets
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-cli-advanced">
                              Advanced Tasks
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                  </ul>
                </section>
                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <h4 class="p-sidebar-nav__header">Troubleshoot</h4>
                

                
                <section id="settings" class="p-sidebar-nav__section">
                  <ul class="p-sidebar-nav__list">
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="troubleshoot-faq">
                        FAQ
                      </a>
                      

                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="troubleshoot-getting-help">
                        Getting help
                      </a>
                      

                      
                    </li>
                    
                  </ul>
                </section>
                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <a class="p-sidebar-nav__link" href="ref-release-notes">Release notes</a>
                

                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <a class="p-sidebar-nav__link" href="http://maas.ubuntu.com/docs/index#developing-maas">Developer Guide</a>
                

                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <a class="p-sidebar-nav__link" href="http://maas.ubuntu.com/docs/api">API Documentation</a>
                

                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <a class="p-sidebar-nav__link" href="contributing">Help improve these docs</a>
                

                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <a class="p-sidebar-nav__link" href="https://github.com/CanonicalLtd/maas-docs/issues/new">Report a docs issue</a>
                

                
              </li>
              
            </ul>
          </nav>
        </div>
        <div class="col-12 theme__main">
          <main id="main-content" class="theme__inner">
            <h1 id="managing-ipv6-networks">Managing IPv6 Networks<a class="anchor" href="#managing-ipv6-networks"></a></h1>
<p>MAAS has limited IPv6 support for networking nodes. It works much like IPv4
support, but with a number of limitations:</p>
<ul>
<li>Nodes still boot, register, and install using the IPv4 network.</li>
<li>IPv6 addresses are only configured when using the default
    Ubuntu installer.</li>
<li>Most BMCs can only be controlled (e.g. to power nodes on/off) using IPv4.</li>
<li>MAAS still uses IPv4 for its internal operation, installing nodes, etc.</li>
<li>For now, MAAS only supports IPv6 on networks where it also manages
    IPv4 DHCP.</li>
<li>A network interface on a node can only be on one IPv6 subnet.</li>
<li>A network interface on a cluster controller can manage only one
    IPv6 subnet.</li>
</ul>
<p>The web user interface and REST API can be accessed in the same way on both
IPv4 and IPv6. To use an IPv6 address as the hostname in a URL, in your
browser or elsewhere, surround it with square brackets. For example, on the
local machine (<code>::1</code>, the IPv6 equivalent of <code>localhost</code>) you might request:</p>
<pre><code class="nohighlight">http://[::1]/MAAS/
</code></pre>

<p>If your MAAS server has a DNS hostname that resolves to both IPv4 and IPv6
addresses, your browser may already be accessing the UI through IPv6 without
you noticing.</p>
<h2 id="enabling-ipv6">Enabling IPv6<a class="anchor" href="#enabling-ipv6"></a></h2>
<p>You enable IPv6 networking in the same way that you enable IPv4 networking:
configure a separate cluster interface for your IPv6 subnet, in addition to
the one you need for your IPv4 subnet. The IPv6 cluster interface must define
a static address range. Provided that you already have a functioning IPv6
network, that's all there is to it. The following sections will go into more
detail about what is supported, what is needed, and what to do if you don't
yet have a functioning IPv6 network.</p>
<p>An IPv6 cluster interface can use the same network interface on the cluster
controller as an existing IPv4 network interface. It just defines a different
subnet, with IPv6 addressing. A node that's connected to the IPv4 subnet will
also be connected to the IPv6 subnet on the same network segment.</p>
<h3 id="configuring-your-ipv6-subnet">Configuring your IPv6 subnet<a class="anchor" href="#configuring-your-ipv6-subnet"></a></h3>
<p>When you configure your IPv6 cluster interface, be sure to define a static IP
address range. Deployed nodes on the subnet will get static addresses in this
range.</p>
<p>IPv6 networks are normally 64 bits wide, so you can be generous with the
ranges' sizes. It also means that you can leave the netmask field blank.</p>
<p>(There are no broadcast addresses in IPv6, so leave the broadcast address
field blank as well.)</p>
<p>You may want MAAS to manage DHCP and DNS, but it's not required. In fact nodes
do not need a DHCP server at all for IPv6; MAAS configures static IPv6
addresses on the node's network interfaces while deploying it. A DHCPv6 server
can provide addresses for containers or virtual machines running on the nodes,
as well as devices on the network that are not managed by MAAS, but it is not
needed for the nodes themselves. MAAS will not be aware of any addresses
issued by DHCP, and does not guarantee that they will stay unchanged.</p>
<h3 id="routing">Routing<a class="anchor" href="#routing"></a></h3>
<p>In IPv6, clients do not discover routes through DHCP. Routers make themselves
known on their networks by sending out <em>route advertisements</em>. These <em>RAs</em>
contain other configuration as well: whether clients should statelessly
configure their own unique IP addresses based on their MAC addresses; whether
they should request stateless configuration from a DHCP server; and finally,
whether they should request a stateful IP address from a DHCP server. Since a
network interface can have any number of IPv6 addresses even on a single
subnet, several of these address assignment mechanisms can be combined.</p>
<p>However, when MAAS configures IPv6 networking on a node, it does not rely on
RAs. It statically configures your nodes' default IPv6 route to use the router
that is configured on the cluster interface, so that the nodes will know their
default gateway. They do not need DHCP and will not autoconfigure global
addresses.</p>
<p>However, if you are planning to operate DHCPv6 clients as well, e.g. on
machines not managed by MAAS or on virtual machines hosted by MAAS nodes, you
may still want to have RAs configured to make those clients obtain
configuration over DHCP.</p>
<p>If you need RAs but your gateway does not send them, install and configure
<code>radvd</code> somewhere on the network to advertise its route.</p>
<h3 id="other-installers-and-operating-systems">Other installers and operating systems<a class="anchor" href="#other-installers-and-operating-systems"></a></h3>
<p>Static IPv6 addresses are currently only configured on Ubuntu, when installed
using the "fast" installer. Other operating systems, or Ubuntu with the
classic Debian installer, will not have their IPv6 addresses configured. The
same applies when a user manually installs an operating system on a node, or
overwrites its networking configuration: the node will no longer have its
static IPv6 address configured, even if MAAS has allocated it to the node.</p>
<p>However, as long as the address remains allocated to the node, you may still
configure its operating system to use that address. The node can then use that
address as if it had been configured by MAAS.</p>
<h2 id="disabling-ipv4">Disabling IPv4<a class="anchor" href="#disabling-ipv4"></a></h2>
<p>For advanced users, there is an experimental capability to deploy nodes with
pure IPv6, with IPv4 networking disabled. To enable this on a node, check the
"Disable IPv4 when deployed" box on the node's Edit page. The process of
managing and deploying the node will still largely work through IPv4, but once
deployed, the node will have IPv6 networking only.</p>
<p>In practice nodes may not be functional without IPv4 networking. A few things
are known to be needed in any case:</p>
<h3 id="configuring-the-maas-url">Configuring the MAAS URL<a class="anchor" href="#configuring-the-maas-url"></a></h3>
<p>The <em>maas-cluster-controller</em> package has a configuration item for the URL
where nodes and cluster controllers can reach the MAAS region API.</p>
<p>By default, this URL is set based on the region controller's IPv4 address. To
make it work for nodes that won't have IP4, you must set the MAAS URL to use a
hostname instead of an IP address. The hostname must resolve to both IPv4 and
IPv6 addresses, and both on the cluster controller and on the nodes.</p>
<p>To change this setting, run:</p>
<pre><code class="bash">dpkg-reconfigure maas-cluster-controller
</code></pre>

<p>It will prompt you for the URL, with its current setting as the initial value.</p>
          </main>
        </div>
      </div>
    </div>
    <footer class="p-footer" role="contentinfo">
      <div class="row">
        <div class="col-12">
          <p>&copy; Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical Ltd.</p>
        </div>
      </div>
    </footer>
    <script>
      /* Add classes to links */
      var links = document.querySelectorAll('a');
      var nav = document.querySelector('.p-sidebar-nav');

      for (var linkIndex = 0; linkIndex < links.length; linkIndex++) {
        var link = links[linkIndex];

        /* Add external classes to external links */
        if (link.hostname && link.hostname != location.hostname) {
          link.className += ' p-link--external';
        }

        /* Add "is-active" class to the current nav link */
        if (nav.contains(link) && link.href && link.href.replace('index', '') == location.href) {
          link.className += ' is-active';
        }
      }
    </script>
  </body>
</html>