<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title> | MAAS docs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/global.css" />
  </head>
  <body class="theme">
    <header class="p-navigation" role="banner">
      <div class="p-navigation__logo">
        <a class="p-navigation__link" href="/en/">
          <img
            src="/static/media/maas-logo.svg"
            alt="MAAS logo" style="height: 28px; vertical-align: bottom; margin-right: 0.5em;" />
          documentation
        </a>
      </div>
      <nav class="p-navigation__nav">
        <span class="u-off-screen">
          <a href="#main-content">Jump to main content</a>
        </span>
      </nav>
    </header>
    <div class="row">
      <div class="theme__wrap">
        <div class="col-3 theme__sidebar">
          <nav class="p-sidebar-nav">
            <ul class="p-sidebar-nav__list">
              
              <li class="p-sidebar-nav__group">
                <a href="#settings">
                  <h4 class="p-sidebar-nav__header">
                    
                      Introduction
                    
                  </h4>
                </a>

                
                <section id="settings" class="p-sidebar-nav__section">
                  <ul class="p-sidebar-nav__list">
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="index">
                        About MAAS
                      </a>

                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="intro-management">
                        Management summary
                      </a>

                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="intro-concepts">
                        Concepts and terms
                      </a>

                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="intro-architecture">
                        Architectural overview
                      </a>

                      
                    </li>
                    
                  </ul>
                </section>
                
              </li>
              
              <li class="p-sidebar-nav__group">
                <a href="#settings">
                  <h4 class="p-sidebar-nav__header">
                    
                      Install & Configure
                    
                  </h4>
                </a>

                
                <section id="settings" class="p-sidebar-nav__section">
                  <ul class="p-sidebar-nav__list">
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="installconfig-install">
                        Installation
                      </a>

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-server-iso">
                              Install from Ubuntu Server ISO
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-package-install">
                              Install from packages
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-lxd-install">
                              Install into LXD
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-upgrade-to-2">
                              Upgrade from 1.9 to 2.0
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="installconfig-gui">
                        Access the GUI
                      </a>

                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="installconfig-zones">
                        Configure zones
                      </a>

                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="installconfig-network2">
                        Configure network
                      </a>

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-network-static">
                              Static IPs
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-network-ipv6">
                              IPv6
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-proxy">
                              Proxy
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-network-stp">
                              STP
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="">
                        Nodes
                      </a>

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-rack">
                              Rack Controller
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-add-nodes">
                              Add Nodes
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-tags">
                              Tags
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-kernel">
                              Kernel Boot Options
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-hwe-kernels">
                              HWE kernels
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="installconfig-images">
                        Images
                      </a>

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-images-import">
                              Selection and Import
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-images-mirror">
                              Local Image Mirror
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                  </ul>
                </section>
                
              </li>
              
              <li class="p-sidebar-nav__group">
                <a href="#settings">
                  <h4 class="p-sidebar-nav__header">
                    
                      Manage MAAS
                    
                  </h4>
                </a>

                
                <section id="settings" class="p-sidebar-nav__section">
                  <ul class="p-sidebar-nav__list">
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="manage-account">
                        User Accounts
                      </a>

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-account#add-a-user">
                              Add User
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-account#ssh-keys">
                              SSH Keys
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-account#api-key">
                              API Key
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-account#change-the-password">
                              Change the password
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="manage-maas-ha">
                        High Availability (HA)
                      </a>

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-maas-ha#rack-controller-ha">
                              Rack Controller HA
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-maas-ha#region-controller-ha">
                              Region Controller HA
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-maas-ha#deploy-ha-with-juju">
                              Deploy HA with Juju
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="manage-power">
                        Power Driver Capabilities
                      </a>

                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="manage-cli">
                        MAAS CLI
                      </a>

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-cli-common">
                              Common Tasks
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-cli-images">
                              Image Management
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-cli-dhcp-snippets">
                              DHCP Snippets
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-cli-advanced">
                              Advanced Tasks
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                  </ul>
                </section>
                
              </li>
              
              <li class="p-sidebar-nav__group">
                <a href="#settings">
                  <h4 class="p-sidebar-nav__header">
                    
                      Troubleshoot
                    
                  </h4>
                </a>

                
                <section id="settings" class="p-sidebar-nav__section">
                  <ul class="p-sidebar-nav__list">
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="troubleshoot-faq">
                        FAQ
                      </a>

                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="troubleshoot-getting-help">
                        Getting help
                      </a>

                      
                    </li>
                    
                  </ul>
                </section>
                
              </li>
              
              <li class="p-sidebar-nav__group">
                <a href="#settings">
                  <h4 class="p-sidebar-nav__header">
                    
                      <a href="ref-release-notes">Release notes</a>
                    
                  </h4>
                </a>

                
              </li>
              
              <li class="p-sidebar-nav__group">
                <a href="#settings">
                  <h4 class="p-sidebar-nav__header">
                    
                      <a href="http://maas.ubuntu.com/docs/index#developing-maas">Developer Guide</a>
                    
                  </h4>
                </a>

                
              </li>
              
              <li class="p-sidebar-nav__group">
                <a href="#settings">
                  <h4 class="p-sidebar-nav__header">
                    
                      <a href="http://maas.ubuntu.com/docs/api">API Documentation</a>
                    
                  </h4>
                </a>

                
              </li>
              
              <li class="p-sidebar-nav__group">
                <a href="#settings">
                  <h4 class="p-sidebar-nav__header">
                    
                      <a href="contributing">Help improve these docs</a>
                    
                  </h4>
                </a>

                
              </li>
              
              <li class="p-sidebar-nav__group">
                <a href="#settings">
                  <h4 class="p-sidebar-nav__header">
                    
                      <a href="https://github.com/CanonicalLtd/maas-docs/issues/new">Report a docs issue</a>
                    
                  </h4>
                </a>

                
              </li>
              
            </ul>
          </nav>
        </div>
        <div class="col-12 theme__main">
          <main id="main-content" class="theme__inner">
            <h1 id="juju-quick-start">Juju Quick Start<a class="anchor" href="#juju-quick-start"></a></h1>
<p>These instructions will help you deploy your first charm with Juju to a
MAAS cluster.</p>
<p>In the following, we assume that you have a MAAS cluster set-up with at
least 2 nodes enlisted with it.</p>
<h2 id="your-api-key,-ssh-key,-and-environments.yaml">Your API key, SSH key, and environments.yaml<a class="anchor" href="#your-api-key,-ssh-key,-and-environments.yaml"></a></h2>
<p>You’ll need an API key from MAAS so that the Juju client can access it.
Each user account in MAAS can have as many API keys as desired. One hard
and fast rule is that you’ll need to use a different API key for each
Juju <em>environment</em> you set up within a single MAAS cluster.</p>
<p>There is no need to explicitly add an SSH key to MAAS when using Juju;
it will automatically put your public key on any hosts that it starts
up.</p>
<p class="note"><strong> Note</strong>: You do not need to use the MAAS web UI or API to allocate a
node to yourself, Juju will do this for you.</p>
<h3 id="getting-a-key">Getting a key<a class="anchor" href="#getting-a-key"></a></h3>
<p>To get the API key:</p>
<ol>
<li>Go to your MAAS preferences page (go to your MAAS home page
    <code>http://&lt;my-maas-server&gt;:80/MAAS/</code> and choose
    <em>Preferences</em> from the drop-down menu that appears when clicking
    your username at the top-right of the page).</li>
<li>Optionally add a new MAAS key. Do this if you’re setting up another
    environment within the same MAAS cluster.</li>
</ol>
<p>The <code>&lt;my-maas-server&gt;</code> part of the URL should be replaced with the address of
your MAAS server.</p>
<h3 id="adding-an-ssh-key">Adding an SSH key<a class="anchor" href="#adding-an-ssh-key"></a></h3>
<p>While you’re still on the MAAS preferences page, add your SSH key by
clicking <em>Add SSH key</em>. Use the public half of your SSH key, the content
of <code>~/.ssh/id_rsa.pub</code> for example; don’t paste the
private half.</p>
<h3 id="creating-environments.yaml">Creating environments.yaml<a class="anchor" href="#creating-environments.yaml"></a></h3>
<p>Create or modify <code>~/.juju/environments.yaml</code> with
the following content:</p>
<pre><code class="yaml">
    environments:
      maas:
        type: maas
        maas-server: 'http://&lt;my-maas-server&gt;:80/MAAS'
        maas-oauth: '&lt;maas-api-key&gt;'
        admin-secret: &lt;your-admin-secret&gt;
        default-series: precise
</code></pre>

<p>The values you need to substitute are:</p>
<p><code>&lt;my-maas-server&gt;</code> - the name or IP of your MAAS server
<code>&lt;maas-api-key&gt;</code> - the MAAS API key string you obtained above
<code>&lt;your-admin-secret&gt;</code> - a random pass-phrase (there is no default).</p>
<p>Now Juju</p>
<p>If juju-core is not yet installed on the client machine, run:</p>
<pre><code class="bash">
sudo apt-get install juju-core
</code></pre>

<p>Now, use Juju to change the default environment to MAAS and check the status:</p>
<pre><code class="bash">juju switch maas
juju status
</code></pre>

<p>As you’ve not bootstrapped you ought to see:</p>
<pre><code class="bash">    error: Unable to connect to environment &quot;&quot;.
    Please check your credentials or use 'juju bootstrap' to create a new environment.
</code></pre>

<p class="note"><strong> Note</strong>: if Juju complains that there are multiple environments and no
explicit default, add <code>-e ${environment-name}</code> after
each command, e.g.:</p>
<p>To initialise the environment, Juju needs to create a bootstrap node:</p>
<pre><code class="bash">juju bootstrap
</code></pre>

<p>This command will return quickly, but the master node may take a <em>long</em> time to
come up. It has to completely install Ubuntu and Juju on it and reboot
before it’ll be available for use. </p>
<p>You can check on progess using the watch command:</p>
<pre><code class="bash">watch juju status
</code></pre>

<p>... which should provide enough information to see when the node is installed and 
running.</p>
<p>Once the boostrap node has been installed a status command should come
up with something a bit more interesting:</p>
<pre><code class="no-highlight">    environment: maas
    machines:
      &quot;0&quot;:
        agent-state: started
        agent-version: 1.13.3.1
        dns-name: kmhwd.master
        instance-id: /MAAS/api/1.0/nodes/node-5c5b713a-1afc-11e3-9904-525400123456/
        series: precise
    services: {}
</code></pre>

<p>Now it’s possible to deploy a charm:</p>
<pre><code class="bash">juju deploy mysql
juju status
</code></pre>

<p>If you have another node free you can finish off the standard example:</p>
<pre><code class="bash">juju deploy wordpress
juju add-relation wordpress mysql
juju expose wordpress
juju status
</code></pre>

<p>Note that each charm runs on its own host, so each deployment will
actually take as long as it took to bootstrap.</p>
          </main>
        </div>
      </div>
    </div>
    <footer class="p-footer" role="contentinfo">
      <div class="row">
        <div class="col-12">
          <p>&copy; Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical Ltd.</p>
        </div>
      </div>
    </footer>
    <script>
      var links = document.querySelectorAll('a');
      for (var linkIndex = 0; linkIndex < links.length; linkIndex++) {
        var link = links[linkIndex];
        if (link.hostname && link.hostname != location.hostname) {
          link.className += ' p-link--external';
        }
      }
    </script>
  </body>
</html>