<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>MAAS CLI | MAAS docs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/global.css" />
  </head>
  <body class="theme">
    <header class="p-navigation" role="banner">
      <div class="p-navigation__logo">
        <a class="p-navigation__link" href="/en/">
          <img
            src="/static/media/maas-logo.svg"
            alt="MAAS logo" style="height: 28px; vertical-align: bottom; margin-right: 0.5em;" />
          documentation
        </a>
      </div>
      <nav class="p-navigation__nav">
        <span class="u-off-screen">
          <a href="#main-content">Jump to main content</a>
        </span>
      </nav>
    </header>
    <div class="row">
      <div class="theme__wrap">
        <div class="col-3 theme__sidebar">
          <nav class="p-sidebar-nav">
            <ul class="p-sidebar-nav__list">
              
              <li class="p-sidebar-nav__group">
                
                <h4 class="p-sidebar-nav__header">Introduction</h4>
                

                
                <section id="settings" class="p-sidebar-nav__section">
                  <ul class="p-sidebar-nav__list">
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="index">
                        About MAAS
                      </a>

                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="intro-management">
                        Management summary
                      </a>

                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="intro-concepts">
                        Concepts and terms
                      </a>

                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="intro-architecture">
                        Architectural overview
                      </a>

                      
                    </li>
                    
                  </ul>
                </section>
                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <h4 class="p-sidebar-nav__header">Install & Configure</h4>
                

                
                <section id="settings" class="p-sidebar-nav__section">
                  <ul class="p-sidebar-nav__list">
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="installconfig-install">
                        Installation
                      </a>

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-server-iso">
                              Install from Ubuntu Server ISO
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-package-install">
                              Install from packages
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-lxd-install">
                              Install into LXD
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-upgrade-to-2">
                              Upgrade from 1.9 to 2.0
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="installconfig-gui">
                        Access the GUI
                      </a>

                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="installconfig-zones">
                        Configure zones
                      </a>

                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="installconfig-network2">
                        Configure network
                      </a>

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-network-static">
                              Static IPs
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-network-ipv6">
                              IPv6
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-proxy">
                              Proxy
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-network-stp">
                              STP
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="">
                        Nodes
                      </a>

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-rack">
                              Rack Controller
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-add-nodes">
                              Add Nodes
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-tags">
                              Tags
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-kernel">
                              Kernel Boot Options
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-hwe-kernels">
                              HWE kernels
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="installconfig-images">
                        Images
                      </a>

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-images-import">
                              Selection and Import
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-images-mirror">
                              Local Image Mirror
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                  </ul>
                </section>
                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <h4 class="p-sidebar-nav__header">Manage MAAS</h4>
                

                
                <section id="settings" class="p-sidebar-nav__section">
                  <ul class="p-sidebar-nav__list">
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="manage-account">
                        User Accounts
                      </a>

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-account#add-a-user">
                              Add User
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-account#ssh-keys">
                              SSH Keys
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-account#api-key">
                              API Key
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-account#change-the-password">
                              Change the password
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="manage-maas-ha">
                        High Availability (HA)
                      </a>

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-maas-ha#rack-controller-ha">
                              Rack Controller HA
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-maas-ha#region-controller-ha">
                              Region Controller HA
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-maas-ha#deploy-ha-with-juju">
                              Deploy HA with Juju
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="manage-power">
                        Power Driver Capabilities
                      </a>

                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="manage-cli">
                        MAAS CLI
                      </a>

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-cli-common">
                              Common Tasks
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-cli-images">
                              Image Management
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-cli-dhcp-snippets">
                              DHCP Snippets
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-cli-advanced">
                              Advanced Tasks
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                  </ul>
                </section>
                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <h4 class="p-sidebar-nav__header">Troubleshoot</h4>
                

                
                <section id="settings" class="p-sidebar-nav__section">
                  <ul class="p-sidebar-nav__list">
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="troubleshoot-faq">
                        FAQ
                      </a>

                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="troubleshoot-getting-help">
                        Getting help
                      </a>

                      
                    </li>
                    
                  </ul>
                </section>
                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <h4 class="p-sidebar-nav__header">
                  <a href="ref-release-notes">Release notes</a>
                </h4>
                

                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <h4 class="p-sidebar-nav__header">
                  <a href="http://maas.ubuntu.com/docs/index#developing-maas">Developer Guide</a>
                </h4>
                

                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <h4 class="p-sidebar-nav__header">
                  <a href="http://maas.ubuntu.com/docs/api">API Documentation</a>
                </h4>
                

                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <h4 class="p-sidebar-nav__header">
                  <a href="contributing">Help improve these docs</a>
                </h4>
                

                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <h4 class="p-sidebar-nav__header">
                  <a href="https://github.com/CanonicalLtd/maas-docs/issues/new">Report a docs issue</a>
                </h4>
                

                
              </li>
              
            </ul>
          </nav>
        </div>
        <div class="col-12 theme__main">
          <main id="main-content" class="theme__inner">
            <h1 id="maas-cli">MAAS CLI<a class="anchor" href="#maas-cli"></a></h1>
<p>The MAAS CLI can do everything that the web UI can do, and more. The CLI uses
the <code>maas</code> command exclusively which, in turn, connects to the API.</p>
<p>This page explains what is needed to get going with the CLI. Tasks are then
separated into common, image management, and advanced.</p>
<p>Note that we do not provide complete coverage of the MAAS CLI. For an
exhaustive treatment, see the
<a href="http://maas.ubuntu.com/docs2.0/index.html#api-cli-documentation">API documentation</a>.</p>
<p>Values are represented as uppercase variables preceded with the '$' character
(e.g. $PROFILE and $EMAIL_ADDRESS). These are to be replaced with actual
values.</p>
<h2 id="create-an-administrator">Create an administrator<a class="anchor" href="#create-an-administrator"></a></h2>
<p>MAAS requires an initial administrator, sometimes called a MAAS "superuser".
When the web UI is accessed for the first time you will be prompted to create
this user:</p>
<pre><code class="bash">sudo maas createadmin --username=$PROFILE --email=$EMAIL_ADDRESS
</code></pre>

<p>Extra administrators can be created in the same way. See
<a href="manage-cli-common#create-a-regular-user">here</a> for creating regular
users with the CLI.</p>
<h2 id="log-in-(required)">Log in (required)<a class="anchor" href="#log-in-(required)"></a></h2>
<p>To use the CLI you must first log in to the API server.</p>
<p>You will need the API key that was generated when your MAAS account was
created. To obtain it, run this command on the region controller (i.e. where
the 'maas-region-controller' package was installed):</p>
<pre><code class="bash">sudo maas-region apikey --username=$USERNAME
</code></pre>

<p class="note"><strong> Note</strong>: The API key can also be obtained from the web interface. Click on
'username' in the top right corner, and select 'Account'.</p>
<p>Log in with either of:</p>
<pre><code class="bash">maas login $PROFILE $API_SERVER [$API_KEY]
maas login $PROFILE $API_SERVER - &lt; $API_KEY_FILE
</code></pre>

<p>Notes:</p>
<ul>
<li>The terms 'username' and 'profile' are effectively equivalent.</li>
<li>The API server is the region controller.</li>
<li>If the API key is not supplied (in the first form) the user will be prompted for it.</li>
</ul>
<p>For example, to log in with the account whose username is 'admin' and where
the region controller is on the localhost:</p>
<pre><code class="bash">maas login admin http://localhost/MAAS/api/2.0
</code></pre>

<h2 id="get-help">Get help<a class="anchor" href="#get-help"></a></h2>
<p>To access command help:</p>
<pre><code class="bash">maas $PROFILE -h
</code></pre>

<p>Further examples:</p>
<pre><code class="bash">maas $PROFILE tags -h
maas $PROFILE tags read -h
</code></pre>

<h2 id="log-out">Log out<a class="anchor" href="#log-out"></a></h2>
<p>Once you are done with the CLI you can log out from the given profile, flushing
the stored credentials.</p>
<pre><code class="bash">maas logout $PROFILE
</code></pre>

<h2 id="next-steps">Next steps<a class="anchor" href="#next-steps"></a></h2>
<p>To continue with the CLI, explore the following links:</p>
<ul>
<li><a href="manage-cli-common">Common tasks</a></li>
<li><a href="manage-cli-images">Image management</a></li>
<li><a href="manage-cli-advanced">Advanced tasks</a></li>
</ul>
          </main>
        </div>
      </div>
    </div>
    <footer class="p-footer" role="contentinfo">
      <div class="row">
        <div class="col-12">
          <p>&copy; Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical Ltd.</p>
        </div>
      </div>
    </footer>
    <script>
      var links = document.querySelectorAll('a');
      for (var linkIndex = 0; linkIndex < links.length; linkIndex++) {
        var link = links[linkIndex];
        if (link.hostname && link.hostname != location.hostname) {
          link.className += ' p-link--external';
        }
      }
    </script>
  </body>
</html>