<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>High Availability (HA) Configuration | MAAS docs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/global.css" />
  </head>
  <body class="theme">
    <header class="p-navigation" role="banner">
      <div class="p-navigation__logo">
        <a class="p-navigation__link" href="/en/">
          <img
            src="/static/media/maas-logo.svg"
            alt="MAAS logo" style="height: 28px; vertical-align: bottom; margin-right: 0.5em;" />
          documentation
        </a>
      </div>
      <nav class="p-navigation__nav">
        <span class="u-off-screen">
          <a href="#main-content">Jump to main content</a>
        </span>
      </nav>
    </header>
    <div class="row">
      <div class="theme__wrap">
        <div class="col-3 theme__sidebar">
          <nav class="p-sidebar-nav">
            <ul class="p-sidebar-nav__list">
              
              <li class="p-sidebar-nav__group">
                
                <h4 class="p-sidebar-nav__header">Introduction</h4>
                

                
                <section id="settings" class="p-sidebar-nav__section">
                  <ul class="p-sidebar-nav__list">
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="index">
                        About MAAS
                      </a>

                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="intro-management">
                        Management summary
                      </a>

                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="intro-concepts">
                        Concepts and terms
                      </a>

                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="intro-architecture">
                        Architectural overview
                      </a>

                      
                    </li>
                    
                  </ul>
                </section>
                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <h4 class="p-sidebar-nav__header">Install & Configure</h4>
                

                
                <section id="settings" class="p-sidebar-nav__section">
                  <ul class="p-sidebar-nav__list">
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="installconfig-install">
                        Installation
                      </a>

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-server-iso">
                              Install from Ubuntu Server ISO
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-package-install">
                              Install from packages
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-lxd-install">
                              Install into LXD
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-upgrade-to-2">
                              Upgrade from 1.9 to 2.0
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="installconfig-gui">
                        Access the GUI
                      </a>

                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="installconfig-zones">
                        Configure zones
                      </a>

                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="installconfig-network2">
                        Configure network
                      </a>

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-network-static">
                              Static IPs
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-network-ipv6">
                              IPv6
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-proxy">
                              Proxy
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-network-stp">
                              STP
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="">
                        Nodes
                      </a>

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-rack">
                              Rack Controller
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-add-nodes">
                              Add Nodes
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-tags">
                              Tags
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-kernel">
                              Kernel Boot Options
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-hwe-kernels">
                              HWE kernels
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="installconfig-images">
                        Images
                      </a>

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-images-import">
                              Selection and Import
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-images-mirror">
                              Local Image Mirror
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                  </ul>
                </section>
                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <h4 class="p-sidebar-nav__header">Manage MAAS</h4>
                

                
                <section id="settings" class="p-sidebar-nav__section">
                  <ul class="p-sidebar-nav__list">
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="manage-account">
                        User Accounts
                      </a>

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-account#add-a-user">
                              Add User
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-account#ssh-keys">
                              SSH Keys
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-account#api-key">
                              API Key
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-account#change-the-password">
                              Change the password
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="manage-maas-ha">
                        High Availability (HA)
                      </a>

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-maas-ha#rack-controller-ha">
                              Rack Controller HA
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-maas-ha#region-controller-ha">
                              Region Controller HA
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-maas-ha#deploy-ha-with-juju">
                              Deploy HA with Juju
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="manage-power">
                        Power Driver Capabilities
                      </a>

                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="manage-cli">
                        MAAS CLI
                      </a>

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-cli-common">
                              Common Tasks
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-cli-images">
                              Image Management
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-cli-dhcp-snippets">
                              DHCP Snippets
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-cli-advanced">
                              Advanced Tasks
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                  </ul>
                </section>
                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <h4 class="p-sidebar-nav__header">Troubleshoot</h4>
                

                
                <section id="settings" class="p-sidebar-nav__section">
                  <ul class="p-sidebar-nav__list">
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="troubleshoot-faq">
                        FAQ
                      </a>

                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="troubleshoot-getting-help">
                        Getting help
                      </a>

                      
                    </li>
                    
                  </ul>
                </section>
                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <a href="ref-release-notes">Release notes</a>
                

                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <a href="http://maas.ubuntu.com/docs/index#developing-maas">Developer Guide</a>
                

                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <a href="http://maas.ubuntu.com/docs/api">API Documentation</a>
                

                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <a href="contributing">Help improve these docs</a>
                

                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <a href="https://github.com/CanonicalLtd/maas-docs/issues/new">Report a docs issue</a>
                

                
              </li>
              
            </ul>
          </nav>
        </div>
        <div class="col-12 theme__main">
          <main id="main-content" class="theme__inner">
            <h1 id="high-availability-(ha)-configuration">High Availability (HA) Configuration<a class="anchor" href="#high-availability-(ha)-configuration"></a></h1>
<p>MAAS 2.0+ supports high availability (HA) across its entire architecture. HA
can be enabled at the rack controller level allowing the ability for
controlling BMCs, providing DHCP, and deploying machines to span across
multiple rack controllers. At the region controller level, HA can be provided
for the API, WebUI, DNS, and APT proxy.</p>
<h2 id="rack-controller-ha">Rack Controller HA<a class="anchor" href="#rack-controller-ha"></a></h2>
<p>Rack controller HA is provided for BMCs out of the box. MAAS will automatically
identify which rack controllers can communicate to which BMCs and pass BMC
actions to the correct rack controllers.</p>
<p>To provide HA for deploying machines, DHCP HA must be turned on. DHCP HA in
MAAS allows a primary and a secondary DHCP server to run on the same VLAN.
This allows a deploying machine to request an IP address from either DHCP
server (primary first) for PXE booting. The responding rack controller will
then handle PXE booting the machine and loading the required files to complete
the deployment. All lease information will be replicated between the primary
and secondary rack controller, allowing one rack controller to fail without
interrupting MAAS operation. See <a href="installconfig-dhcp">DHCP</a> for enabling
DHCP HA.</p>
<h2 id="region-controller-ha">Region Controller HA<a class="anchor" href="#region-controller-ha"></a></h2>
<p>Region controller HA is more complicated, in that MAAS allows you to configure
this in many different configurations. Any number of region controllers can be
added to MAAS, as long as they connect to the same PostgreSQL database. The
only state that is held in MAAS is in the database, allowing region
controllers to be scaled up and scaled down at will.</p>
<h3 id="initial-region-controller">Initial Region Controller<a class="anchor" href="#initial-region-controller"></a></h3>
<p>The first step to enabling HA for the MAAS region controller is installing the
<code>maas-region-controller</code> package. This package configures everything for you
to start using the MAAS region controller on one machine. It initializes a new
database, runs the migrations, and sets up the default configuration files for
the new MAAS region controller to run. :</p>
<pre><code class="bash">sudo apt update
sudo apt install maas-region-controller
</code></pre>

<p class="note"><strong> Note</strong>: This installs and configures the PostgreSQL database on the same machine as
the region controller. When possible, this is the recommended configuration.
MAAS requires database access to be fast, since all MAAS states (including
operating system images) will be synchronized with each rack controller.</p>
<h3 id="enabling-postgresql-ha">Enabling PostgreSQL HA<a class="anchor" href="#enabling-postgresql-ha"></a></h3>
<p>MAAS stores all state information in the PostgreSQL database, so it is key to
place this into an HA configuration. PostgreSQL supports many different HA
configurations, but hot standby is recommended as it allows the secondary
database to become the primary quickly and the MAAS region controller can
quickly switch to using the secondary database server as the primary. For
configuring hot standby, the following wiki provides a quick start guide on
setting it up:
<a href="https://wiki.postgresql.org/wiki/Hot_Standby">https://wiki.postgresql.org/wiki/Hot_Standby</a>.</p>
<h3 id="extra-region-controller">Extra Region Controller<a class="anchor" href="#extra-region-controller"></a></h3>
<p>Since this new region will not be setting up its own database, install the
following packages to set up the new region controller:</p>
<pre><code class="no-highlight">sudo apt install maas-region-api maas-dns
</code></pre>

<p>In order to add another region controller to MAAS, you will also need the
<em>regiond.conf</em> from the initial region controller. This will allow the new
region controller to connect to the same PostgreSQL database. You will want to
adjust the database_host in the <em>regiond.conf</em> to point to the primary
database for PostgreSQL:</p>
<pre><code class="bash">sudo apt update
sudo apt install maas-region-api maas-dns
sudo systemctl stop maas-regiond
sudo rm /var/lib/maas/{maas_id,secret}
sudo scp &lt;ubuntu@initial-region&gt;:/etc/maas/regiond.conf /etc/maas/regiond.conf
sudo chown root:maas /etc/maas/regiond.conf
sudo chmod 640 /etc/maas/regiond.conf
sudo maas-region local_config_set --database-host &lt;postgresql-primary-ip&gt;
sudo systemctl restart maas-regiond
</code></pre>

<p>When you check the MAAS UI or the API, you will see that MAAS now has another 
region controller. But one issue still exists: the <code>bind9</code> service will refuse
to start. This is because both BIND and MAAS define some of the same options
in their respective configuration files. Since BIND will not allow you to use
the same option more than once, MAAS needs to migrate the options from the
BIND configuration. You can do this with the following two commands:</p>
<pre><code class="bash">sudo maas-region edit_named_options --migrate-conflicting-options
sudo systemctl restart bind9
</code></pre>

<p>After that, you should have another fully functioning MAAS region controller.
The DNS configuration and proxy configuration across all region controllers
will stay synced, and you have another server to access the MAAS WebUI and API
endpoints.</p>
<h3 id="load-balancing-between-regions-(optional)">Load Balancing Between Regions (optional)<a class="anchor" href="#load-balancing-between-regions-(optional)"></a></h3>
<p>With multiple region controllers, there are several options for load
balancing. One approach is to only use one region controller all the time, and
fail over to another using a virtual IP (VIP). Another approach is to use a
load-balancer and a VIP, to distribute the workload across all active region
controllers. In this example, we will use <code>haproxy</code> to configure load
balancing across the MAAS region controllers.</p>
<p>First (on each region controller) <code>apache2</code> needs to be disabled. While the
<code>maas-region-api</code> package depends on <code>apache2</code> for its default configuration,
it will conflict with <code>haproxy</code> (or any other load balancer running on port
80) if it is enabled:</p>
<pre><code class="bash">sudo systemctl stop apache2
sudo systemctl disable apache2
</code></pre>

<p>With <code>apache2</code> disabled, <code>haproxy</code> can now be installed (<code>sudo
apt install haproxy</code>). To create a configuration file, copy the following into
<code>/etc/haproxy/haproxy.cfg</code>, changing &lt;server-name&gt; and 
&lt;server-ip&gt; to match your infrastructure:</p>
<pre><code class="yaml">frontend maas
    bind    *:80
    retries 3
    option  redispatch
    option  http-server-close
    default_backend maas

backend maas
    timeout server 30s
    balance roundrobin
    server localhost localhost:5240 check
    server &lt;server-name-1&gt; &lt;server-ip-1&gt;:5240 check
    server &lt;server-name-2&gt; &lt;server-ip-2&gt;:5240 check
</code></pre>

<p>Finally, launch <code>haproxy</code> with the following command:</p>
<pre><code class="bash">sudo systemctl restart haproxy
</code></pre>

<p class="note"><strong> Note</strong>: We recommended running a load-balancer on every region controller server
and place a VIP between the servers. This will ensure that the load is
balanced between the servers and ensure that (if a failure occurs) the VIP
moves over to the another server (which could then distribute requests to
the remaining servers).</p>
<h3 id="vip-between-the-regions">VIP between the Regions<a class="anchor" href="#vip-between-the-regions"></a></h3>
<p>Whether you configured a load-balancer or not, a VIP (virtual IP) is needed.
The VIP will be used by the rack controllers (and the deploying machines) to
access the region controller API endpoint. In this example, we will show how
to use <code>keepalived</code> to configure a VIP.</p>
<p>First, install the package, load its associated kernel module, set this to load
with after a reboot and configure the systemd environment:</p>
<pre><code class="bash">sudo apt install keepalived
sudo modprobe ip_vs
sudo sh -c 'echo modprobe ip_vs &gt;&gt; /etc/modules'
sudo sh -c 'echo net.ipv4.ip_nonlocal_bind=1' &gt; /etc/sysctl.d/60-keepalived-nonlocal.conf
sudo systemctl restart procps
</code></pre>

<p>You will also need to create the following configuration file,
<code>/etc/keepalived/keepalived.conf</code>, adjusting our example below for either
<code>apache2</code> or <code>haproxy</code>, depending on your environment. You should also change
<code>interface_name</code>, <code>random_password</code>, the VIP address and the <code>priority</code>. The
priority needs to be between 1-255, and larger priority numbers indicate a greater
preference for the server to claim the VIP.</p>
<p><code>/etc/keepalived/keepalived.conf</code></p>
<pre><code class="no-highlight"># Un-comment when using haproxy.
#vrrp_script chk_haproxy {
#    script &quot;killall -0 haproxy&quot;
#    interval 2
#}
 # Un-comment when using apache2.
#vrrp_script chk_apache2 {
#    script &quot;killall -0 apache2&quot;
#    interval 2
#}

vrrp_script chk_named {
    script &quot;killall -0 named&quot;
    interval 2
}

vrrp_instance maas_region {
    state MASTER
    interface &lt;interface_name&gt;
    priority &lt;priority&gt;
    virtual_router_id 51
     authentication {
        auth_type PASS
        auth_pass &lt;random_password&gt;
    }
     track_script {
        # Un-comment when using haproxy
        #chk_haproxy
        # Un-comment when using apache2
        #chk_apache2
        chk_named
    }
     virtual_ipaddress {
        &lt;vip&gt;
    }
}
</code></pre>

<p>Finally, start the daemon with:</p>
<pre><code class="bash">sudo systemctl restart keepalived
</code></pre>

<p class="note"><strong> Note</strong>: If you are enabling this inside of a container, the host of the
container needs the ip_vs module loaded and the sysctl change. A restart of
the container is required once the change has been made in the host.</p>
<p>Once <code>keepalived</code> has been configured you will want to adjust the MAAS_URL on
all region controllers and rack controllers to point to that VIP. This will
ensure that all clients and machines use that IP address for communication.</p>
<p>To adjust the rack controller:</p>
<pre><code class="bash">sudo maas-rack config --region-url http://&lt;vip&gt;/MAAS
sudo systemctl restart maas-rackd
</code></pre>

<p>To adjust the region controller: </p>
<pre><code class="bash">sudo maas-region local_config_set --maas-url http://&lt;vip&gt;/MAAS
sudo systemctl restart maas-regiond
</code></pre>

<h2 id="deploy-ha-with-juju">Deploy HA with Juju<a class="anchor" href="#deploy-ha-with-juju"></a></h2>
<p>Now that you have an understanding of how to configure HA manually, it is
possible to use Juju to deploy MAAS in an HA configuration. Using Juju allows
you to quickly scale up or scale down the MAAS infrastructure in a
configuration supported by the MAAS team.</p>
<p class="note"><strong> Note</strong>: Using Juju to deploy MAAS is not normally how Juju would be used. Normally,
you would first install MAAS, then use Juju to deploy services on
MAAS-managed machines. However, we can use Juju's manual provisioning
support to deploy MAAS to existing Ubuntu systems.</p>
<p>In the following example, Juju is bootstrapped with manual provisioning, the
machines intended to be used for MAAS services are added, and the applications
are deployed and linked together. Be sure to adjust the given numbers based on
what you see in the "juju status" command. (See the <a href="https://jujucharms.com/docs/devel/getting-started">Juju
documentation</a> for more
details.)</p>
<p>The following commands could be used to deploy MAAS:</p>
<pre><code class="bash">juju bootstrap maas manual/&lt;ip-of-server&gt;
juju add-machine ssh:&lt;ip-of-server&gt;
. add required machines ...
juju deploy postgresql --to 0
juju add-unit postgresql --to 1
juju deploy maas-region --to 0
juju add-unit maas-region --to 1
juju add-relation maas-region:db postgresql:db
juju deploy maas-rack --to 3
juju add-unit maas-rack --to 4
juju add-relation maas-region:rpc maas-rack:rpc
</code></pre>
          </main>
        </div>
      </div>
    </div>
    <footer class="p-footer" role="contentinfo">
      <div class="row">
        <div class="col-12">
          <p>&copy; Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical Ltd.</p>
        </div>
      </div>
    </footer>
    <script>
      var links = document.querySelectorAll('a');
      for (var linkIndex = 0; linkIndex < links.length; linkIndex++) {
        var link = links[linkIndex];
        if (link.hostname && link.hostname != location.hostname) {
          link.className += ' p-link--external';
        }
      }
    </script>
  </body>
</html>