<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>MAAS CLI | Advanced Tasks | MAAS docs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/global.css" />
  </head>
  <body class="theme">
    <header class="p-navigation" role="banner">
      <div class="p-navigation__logo">
        <a class="p-navigation__link" href="/en/">
          <img
            src="/static/media/maas-logo.svg"
            alt="MAAS logo" style="height: 28px; vertical-align: bottom; margin-right: 0.5em;" />
          documentation
        </a>
      </div>
      <nav class="p-navigation__nav">
        <span class="u-off-screen">
          <a href="#main-content">Jump to main content</a>
        </span>
      </nav>
    </header>
    <div class="row">
      <div class="theme__wrap">
        <div class="col-3 theme__sidebar">
          <nav class="p-sidebar-nav">
            <ul class="p-sidebar-nav__list">
              
              <li class="p-sidebar-nav__group">
                <a href="#settings">
                  <h4 class="p-sidebar-nav__header">
                    
                      Introduction
                    
                  </h4>
                </a>

                
                <section id="settings" class="p-sidebar-nav__section">
                  <ul class="p-sidebar-nav__list">
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="index">
                        About MAAS
                      </a>

                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="intro-management">
                        Management summary
                      </a>

                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="intro-concepts">
                        Concepts and terms
                      </a>

                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="intro-architecture">
                        Architectural overview
                      </a>

                      
                    </li>
                    
                  </ul>
                </section>
                
              </li>
              
              <li class="p-sidebar-nav__group">
                <a href="#settings">
                  <h4 class="p-sidebar-nav__header">
                    
                      Install & Configure
                    
                  </h4>
                </a>

                
                <section id="settings" class="p-sidebar-nav__section">
                  <ul class="p-sidebar-nav__list">
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="installconfig-install">
                        Installation
                      </a>

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-server-iso">
                              Install from Ubuntu Server ISO
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-package-install">
                              Install from packages
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-lxd-install">
                              Install into LXD
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-upgrade-to-2">
                              Upgrade from 1.9 to 2.0
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="installconfig-gui">
                        Access the GUI
                      </a>

                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="installconfig-zones">
                        Configure zones
                      </a>

                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="installconfig-network2">
                        Configure network
                      </a>

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-network-static">
                              Static IPs
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-network-ipv6">
                              IPv6
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-proxy">
                              Proxy
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-network-stp">
                              STP
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="">
                        Nodes
                      </a>

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-rack">
                              Rack Controller
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-add-nodes">
                              Add Nodes
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-tags">
                              Tags
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-kernel">
                              Kernel Boot Options
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-hwe-kernels">
                              HWE kernels
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="installconfig-images">
                        Images
                      </a>

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-images-import">
                              Selection and Import
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-images-mirror">
                              Local Image Mirror
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                  </ul>
                </section>
                
              </li>
              
              <li class="p-sidebar-nav__group">
                <a href="#settings">
                  <h4 class="p-sidebar-nav__header">
                    
                      Manage MAAS
                    
                  </h4>
                </a>

                
                <section id="settings" class="p-sidebar-nav__section">
                  <ul class="p-sidebar-nav__list">
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="manage-account">
                        User Accounts
                      </a>

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-account#add-a-user">
                              Add User
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-account#ssh-keys">
                              SSH Keys
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-account#api-key">
                              API Key
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-account#change-the-password">
                              Change the password
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="manage-maas-ha">
                        High Availability (HA)
                      </a>

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-maas-ha#rack-controller-ha">
                              Rack Controller HA
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-maas-ha#region-controller-ha">
                              Region Controller HA
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-maas-ha#deploy-ha-with-juju">
                              Deploy HA with Juju
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="manage-power">
                        Power Driver Capabilities
                      </a>

                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="manage-cli">
                        MAAS CLI
                      </a>

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-cli-common">
                              Common Tasks
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-cli-images">
                              Image Management
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-cli-dhcp-snippets">
                              DHCP Snippets
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-cli-advanced">
                              Advanced Tasks
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                  </ul>
                </section>
                
              </li>
              
              <li class="p-sidebar-nav__group">
                <a href="#settings">
                  <h4 class="p-sidebar-nav__header">
                    
                      Troubleshoot
                    
                  </h4>
                </a>

                
                <section id="settings" class="p-sidebar-nav__section">
                  <ul class="p-sidebar-nav__list">
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="troubleshoot-faq">
                        FAQ
                      </a>

                      
                    </li>
                    
                    <li>
                      <a class="p-sidebar-nav__link" href="troubleshoot-getting-help">
                        Getting help
                      </a>

                      
                    </li>
                    
                  </ul>
                </section>
                
              </li>
              
              <li class="p-sidebar-nav__group">
                <a href="#settings">
                  <h4 class="p-sidebar-nav__header">
                    
                      <a href="ref-release-notes">Release notes</a>
                    
                  </h4>
                </a>

                
              </li>
              
              <li class="p-sidebar-nav__group">
                <a href="#settings">
                  <h4 class="p-sidebar-nav__header">
                    
                      <a href="http://maas.ubuntu.com/docs/index#developing-maas">Developer Guide</a>
                    
                  </h4>
                </a>

                
              </li>
              
              <li class="p-sidebar-nav__group">
                <a href="#settings">
                  <h4 class="p-sidebar-nav__header">
                    
                      <a href="http://maas.ubuntu.com/docs/api">API Documentation</a>
                    
                  </h4>
                </a>

                
              </li>
              
              <li class="p-sidebar-nav__group">
                <a href="#settings">
                  <h4 class="p-sidebar-nav__header">
                    
                      <a href="contributing">Help improve these docs</a>
                    
                  </h4>
                </a>

                
              </li>
              
              <li class="p-sidebar-nav__group">
                <a href="#settings">
                  <h4 class="p-sidebar-nav__header">
                    
                      <a href="https://github.com/CanonicalLtd/maas-docs/issues/new">Report a docs issue</a>
                    
                  </h4>
                </a>

                
              </li>
              
            </ul>
          </nav>
        </div>
        <div class="col-12 theme__main">
          <main id="main-content" class="theme__inner">
            <h1 id="advanced-cli-tasks">Advanced CLI Tasks<a class="anchor" href="#advanced-cli-tasks"></a></h1>
<p>This is a list of advanced tasks to perform with the MAAS CLI. See
<a href="manage-cli">MAAS CLI</a> on how to get started.</p>
<h2 id="set-the-default-kernel-boot-options">Set the default kernel boot options<a class="anchor" href="#set-the-default-kernel-boot-options"></a></h2>
<p>To set kernel boot options that will be applied to all machines:</p>
<pre><code class="bash">maas $PROFILE maas set-config name=kernel_opts value='$KERNEL_OPTIONS'
</code></pre>

<h2 id="specify-kernel-boot-options-for-a-machine">Specify kernel boot options for a machine<a class="anchor" href="#specify-kernel-boot-options-for-a-machine"></a></h2>
<p>To specify kernel boot options for an individual machine a tag needs to be
created:</p>
<pre><code class="bash">maas $PROFILE tags create name='$TAG_NAME' \
    comment='$COMMENT' kernel_opts='$KERNEL_OPTIONS'
</code></pre>

<p>For example:</p>
<pre><code class="bash">maas $PROFILE tags create name='nomodeset' \
    comment='nomodeset kernel option' kernel_opts='nomodeset vga'
</code></pre>

<p>The tag must then be assigned to the machine in question. This can be done
with the web UI or with the CLI. For the latter, see <a href="manage-cli-common#assign-a-tag-to-a-node">assign a tag to a
node</a>.</p>
<p>If multiple tags attached to a node have the <code>kernel_opts</code> defined, the first
one (ordered alphabetically) is used.</p>
<h2 id="set-a-default-minimum-hwe-kernel">Set a default minimum HWE kernel<a class="anchor" href="#set-a-default-minimum-hwe-kernel"></a></h2>
<p>To set a default minimum HWE kernel for all machines:</p>
<pre><code class="bash">maas $PROFILE maas set-config name=default_min_hwe_kernel value=$HWE_KERNEL
</code></pre>

<h2 id="set-a-minimum-hwe-kernel-for-a-machine">Set a minimum HWE kernel for a machine<a class="anchor" href="#set-a-minimum-hwe-kernel-for-a-machine"></a></h2>
<p>To set the minimum HWE kernel on a machine basis:</p>
<pre><code class="bash">maas $PROFILE machine update $SYSTEM_ID min_hwe_kernel=$HWE_KERNEL
</code></pre>

<h2 id="set-a-specific-hwe-kernel-during-machine-deployment">Set a specific HWE kernel during machine deployment<a class="anchor" href="#set-a-specific-hwe-kernel-during-machine-deployment"></a></h2>
<p>To set a specific HWE kernel during the deployment of a machine:</p>
<pre><code class="bash">maas $PROFILE machine deploy $SYSTEM_ID distro_series=$SERIES \
    hwe_kernel=$HWE_KERNEL
</code></pre>

<p>MAAS verifies that the specified kernel is available for the given Ubuntu
release (series) before deploying the node. </p>
<h2 id="update-node-hostname-and-power-parameters">Update node hostname and power parameters<a class="anchor" href="#update-node-hostname-and-power-parameters"></a></h2>
<p>To update the hostname and power parameters of a (KVM) node based on its
system ID:</p>
<pre><code class="bash">maas $PROFILE machine update $SYSTEM_ID \
    hostname=$HOSTNAME \
    power_type=virsh \
    power_parameters_power_address=qemu+ssh://ubuntu@$KVM_HOST/system \
    power_parameters_power_id=$HOSTNAME
</code></pre>

<h2 id="install-a-rack-controller">Install a rack controller<a class="anchor" href="#install-a-rack-controller"></a></h2>
<p>To install and register a rack controller with the MAAS:</p>
<pre><code class="bash">sudo apt install maas-rack-controller
sudo maas-rack register
</code></pre>

<p class="note"><strong> Note</strong>: The register command is only needed if the rack controller is not
being added to a system that already houses a region controller.</p>
<p>You will be asked for the URL of the region controller. If you provide a
hostname ensure it is resolvable. Next, you will be prompted for the secret key
that is stored in file <code>/var/lib/maas/secret</code> on the region controller.</p>
<p>You can get the above information from the web UI by visiting the 'Nodes' tab,
then the Controller sub-tab, and clicking the button 'Add rack controller'.
Here is an example of what you may see:</p>
<p><img alt="add controller" src="/static/media/installconfig-rack__add-controller.png" /></p>
<p>Based on the above, then, we could have also entered:</p>
<pre><code class="bash">sudo maas-rack register --url http://10.248.0.3/MAAS \
    --secret 30e5413d5b684620700b3105b02965c0
</code></pre>
          </main>
        </div>
      </div>
    </div>
    <footer class="p-footer" role="contentinfo">
      <div class="row">
        <div class="col-12">
          <p>&copy; Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical Ltd.</p>
        </div>
      </div>
    </footer>
    <script>
      var links = document.querySelectorAll('a');
      for (var linkIndex = 0; linkIndex < links.length; linkIndex++) {
        var link = links[linkIndex];
        if (link.hostname && link.hostname != location.hostname) {
          link.className += ' p-link--external';
        }
      }
    </script>
  </body>
</html>