<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>MAAS | Troubleshooting | MAAS docs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/global.css" />
  </head>
  <body class="theme">
    <header class="p-navigation" role="banner">
      <div class="p-navigation__logo">
        <a class="p-navigation__link" href="/en/">
          <img
            src="/static/media/maas-logo.svg"
            alt="MAAS logo" style="height: 28px; vertical-align: bottom; margin-right: 0.5em;" />
          documentation
        </a>
      </div>
      <nav class="p-navigation__nav">
        <span class="u-off-screen">
          <a href="#main-content">Jump to main content</a>
        </span>
      </nav>
    </header>
    <div class="row">
      <div class="theme__wrap">
        <div class="col-3 theme__sidebar">
          <nav class="p-sidebar-nav">
            <ul class="p-sidebar-nav__list">
              
              <li class="p-sidebar-nav__group">
                
                <h4 class="p-sidebar-nav__header">Introduction</h4>
                

                
                <section id="settings" class="p-sidebar-nav__section">
                  <ul class="p-sidebar-nav__list">
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="index">
                        About MAAS
                      </a>
                      

                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="intro-management">
                        Management summary
                      </a>
                      

                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="intro-concepts">
                        Concepts and terms
                      </a>
                      

                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="intro-architecture">
                        Architectural overview
                      </a>
                      

                      
                    </li>
                    
                  </ul>
                </section>
                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <h4 class="p-sidebar-nav__header">Install & Configure</h4>
                

                
                <section id="settings" class="p-sidebar-nav__section">
                  <ul class="p-sidebar-nav__list">
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="installconfig-install">
                        Installation
                      </a>
                      

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-server-iso">
                              Install from Ubuntu Server ISO
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-package-install">
                              Install from packages
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-lxd-install">
                              Install into LXD
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-upgrade-to-2">
                              Upgrade from 1.9 to 2.0
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="installconfig-gui">
                        Access the GUI
                      </a>
                      

                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="installconfig-zones">
                        Configure zones
                      </a>
                      

                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="installconfig-network2">
                        Configure network
                      </a>
                      

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-network-static">
                              Static IPs
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-network-ipv6">
                              IPv6
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-proxy">
                              Proxy
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-network-stp">
                              STP
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      
                      <span class="p-sidebar-nav__link">Nodes</span>
                      

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-rack">
                              Rack Controller
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-add-nodes">
                              Add Nodes
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-tags">
                              Tags
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-kernel">
                              Kernel Boot Options
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-hwe-kernels">
                              HWE kernels
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="installconfig-images">
                        Images
                      </a>
                      

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-images-import">
                              Selection and Import
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-images-mirror">
                              Local Image Mirror
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                  </ul>
                </section>
                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <h4 class="p-sidebar-nav__header">Manage MAAS</h4>
                

                
                <section id="settings" class="p-sidebar-nav__section">
                  <ul class="p-sidebar-nav__list">
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="manage-account">
                        User Accounts
                      </a>
                      

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-account#add-a-user">
                              Add User
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-account#ssh-keys">
                              SSH Keys
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-account#api-key">
                              API Key
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-account#change-the-password">
                              Change the password
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="manage-maas-ha">
                        High Availability (HA)
                      </a>
                      

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-maas-ha#rack-controller-ha">
                              Rack Controller HA
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-maas-ha#region-controller-ha">
                              Region Controller HA
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-maas-ha#deploy-ha-with-juju">
                              Deploy HA with Juju
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="manage-power">
                        Power Driver Capabilities
                      </a>
                      

                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="manage-cli">
                        MAAS CLI
                      </a>
                      

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-cli-common">
                              Common Tasks
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-cli-images">
                              Image Management
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-cli-dhcp-snippets">
                              DHCP Snippets
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-cli-advanced">
                              Advanced Tasks
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                  </ul>
                </section>
                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <h4 class="p-sidebar-nav__header">Troubleshoot</h4>
                

                
                <section id="settings" class="p-sidebar-nav__section">
                  <ul class="p-sidebar-nav__list">
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="troubleshoot-faq">
                        FAQ
                      </a>
                      

                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="troubleshoot-getting-help">
                        Getting help
                      </a>
                      

                      
                    </li>
                    
                  </ul>
                </section>
                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <a class="p-sidebar-nav__link" href="ref-release-notes">Release notes</a>
                

                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <a class="p-sidebar-nav__link" href="http://maas.ubuntu.com/docs/index#developing-maas">Developer Guide</a>
                

                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <a class="p-sidebar-nav__link" href="http://maas.ubuntu.com/docs/api">API Documentation</a>
                

                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <a class="p-sidebar-nav__link" href="contributing">Help improve these docs</a>
                

                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <a class="p-sidebar-nav__link" href="https://github.com/CanonicalLtd/maas-docs/issues/new">Report a docs issue</a>
                

                
              </li>
              
            </ul>
          </nav>
        </div>
        <div class="col-12 theme__main">
          <main id="main-content" class="theme__inner">
            <h1 id="maas-troubleshooting">MAAS Troubleshooting<a class="anchor" href="#maas-troubleshooting"></a></h1>
<p>This section covers some of the most commonly encountered problems and attempts
to resolve them.</p>
<h2 id="nodes-hang-on-&quot;commissioning&quot;">Nodes hang on "Commissioning"<a class="anchor" href="#nodes-hang-on-&quot;commissioning&quot;"></a></h2>
<h3 id="possible-cause:-timing-issues">Possible Cause: Timing issues<a class="anchor" href="#possible-cause:-timing-issues"></a></h3>
<p>Various parts of MAAS rely on OAuth to negotiate a connection to nodes. If the
current time reported by the hardware clock on your node differs significantly
from that on the MAAS server, the connection will not be made.</p>
<p><strong>SOLUTION:</strong> Check that the hardware clocks are consistent, and if necessary,
adjust them. This can usually be done from within the system BIOS, without
needing to install an OS.</p>
<h3 id="possible-cause:-network-drivers">Possible Cause: Network drivers<a class="anchor" href="#possible-cause:-network-drivers"></a></h3>
<p>Sometimes the hardware can boot from PXE, but fail to load correct drivers
when booting the received image. This is sometimes the case when no open
source drivers are available for the network hardware.</p>
<p><strong>SOLUTION:</strong> The best fix for this problem is to install a Linux-friendly
network adapter. It <em>is</em> theoretically possible to modify the boot image to
include proprietary drivers, but it is not a straightforward task.</p>
<h2 id="nodes-fail-to-pxe-boot">Nodes fail to PXE boot<a class="anchor" href="#nodes-fail-to-pxe-boot"></a></h2>
<h3 id="possible-cause:-using-an-incorrectly-configured-vm">Possible Cause: Using an incorrectly configured VM<a class="anchor" href="#possible-cause:-using-an-incorrectly-configured-vm"></a></h3>
<p>Some virtual machine setups include emulation of network hardware that does
not support PXE booting, and in most setups, you will need to explicitly set
the VM to boot via PXE.</p>
<p><strong>SOLUTION</strong>: Consult the VM docs for details on PXE booting.</p>
<h3 id="possible-cause:-dhcp-conflict">Possible Cause: DHCP conflict<a class="anchor" href="#possible-cause:-dhcp-conflict"></a></h3>
<p>If you are using MAAS in a setup with an existing DHCP, <em>DO NOT SET UP THE
MAAS DHCP SERVER</em> as this will cause no end of confusion to the rest of your
network and most likely won't discover any nodes either.</p>
<p><strong>SOLUTION</strong>: You will need to configure your existing DHCP server to point to
the MAAS server.</p>
<h2 id="can't-log-in-to-node">Can't log in to node<a class="anchor" href="#can't-log-in-to-node"></a></h2>
<p>Sometimes you may wish to log in directly to a node on your system. If you have
set up Juju and MAAS, the node will automatically have SSH authentication
enabled (and public keys installed) allowing you to log in. There is also an
option in the MAAS web interface to add new SSH keys to the nodes (via
Preferences in the drop down menu which appears when clicking your username in
the top-right of the page).</p>
<h2 id="forgot-maas-administrator-password">Forgot MAAS administrator password<a class="anchor" href="#forgot-maas-administrator-password"></a></h2>
<p>As long as you have sudo privileges the
<code>maas</code> command can be used to change the password for a MAAS administrator on the MAAS
region controller:</p>
<pre><code class="bash">sudo maas changepassword $PROFILE
</code></pre>

<p>where $PROFILE is the name of the user.</p>
<h2 id="need-to-reconfigure-server-ip-address">Need to reconfigure server IP address<a class="anchor" href="#need-to-reconfigure-server-ip-address"></a></h2>
<p>If you made a mistake during setup or you just need to reconfigure your MAAS
server, you can simply run the setup again:</p>
<pre><code class="bash">sudo dpkg-reconfigure maas-region-controller
</code></pre>

<h2 id="can't-find-maas-webpage">Can't find MAAS webpage<a class="anchor" href="#can't-find-maas-webpage"></a></h2>
<p>The default webpage is located at <code>http://&lt;hostname&gt;/MAAS/</code>. If you can't
access it, there are a few things to try:</p>
<ol>
<li>Check that the webserver is running - By default the web interface uses
   Apache, which runs under the service name <em>apache2</em>. To check it, on the
   MAAS server box you can run <code>sudo /etc/init.d/apache2 status</code>.</li>
<li>Check that the hostname is correct - It may seem obvious, but check that
   the hostname is being resolved properly. Try running a browser (even a
   text mode one like <code>elinks</code>) on the same box as the MAAS server and
   navigating to the page. If that doesn't work, try
   <code>http://127.0.0.1/MAAS/</code>, which will always point at the local server.</li>
<li>If you are still getting "404 - Page not found" errors, check that the
   MAAS web interface has been installed in the right place. There should
   be a file present called <code>/usr/share/maas/maas/urls.py</code>.</li>
</ol>
<h2 id="debugging-ephemeral-image">Debugging ephemeral image<a class="anchor" href="#debugging-ephemeral-image"></a></h2>
<h3 id="backdoor-(add-a-login)-to-ephemeral-images">Backdoor (add a login) to ephemeral images<a class="anchor" href="#backdoor-(add-a-login)-to-ephemeral-images"></a></h3>
<p>If you cannot log in to an instance, you might have to "backdoor it" in order
to see what is going wrong. Scott Moser wrote a simple utility that injects a
user and password into an image. Here's how to add a 'backdoor' user with a
password to your images:</p>
<pre><code class="bash">sudo apt-get install --assume-yes bzr
bzr branch lp:~maas-maintainers/maas/backdoor-image backdoor-image

imgs=$(echo /var/lib/maas/boot-resources/*/*/*/*/*/*/root-image)
for img in $imgs; do
    [ -f &quot;$img.dist&quot; ] || sudo cp -a --sparse=always $img $img.dist
done

for img in $imgs; do
    sudo ./backdoor-image/backdoor-image -v --user=backdoor --password-auth --password=ubuntu $img
done
</code></pre>

<h3 id="inside-the-ephemeral-image">Inside the ephemeral image<a class="anchor" href="#inside-the-ephemeral-image"></a></h3>
<p>Important files for debugging:</p>
<pre><code class="no-highlight">/var/log/cloud-init.log
/var/log/boot.log
/var/log/cloud-init-output.log
</code></pre>

<p>After enlistment or commissioning, the user-data from MAAS instructs the
system to power off. To stop that from happening, you can just create a file
in /tmp:</p>
<pre><code class="bash">touch /tmp/block-poweroff
</code></pre>

<h3 id="maas-credentials">MAAS credentials<a class="anchor" href="#maas-credentials"></a></h3>
<p>MAAS credentials can be found in this way:</p>
<p>From <code>/etc/cloud/cloud.cfg.d/91_kernel_cmdline_url</code>. The file was pulled from
<code>url=</code> parameter by <code>cloud-init</code>:</p>
<pre><code class="bash">sudo cat /etc/cloud/cloud.cfg.d/91_kernel_cmdline
</code></pre>

<h3 id="maas-datasource">MAAS datasource<a class="anchor" href="#maas-datasource"></a></h3>
<p>The cloud-init datasource for MAAS can be invoked as a 'main' for debugging
purposes. To do so, you need to know the URL for the MAAS datasource and a
config file that contains credentials:</p>
<pre><code class="bash">cfg=$(echo /etc/cloud/cloud.cfg.d/*_cmdline_url.cfg)
echo $cfg /etc/cloud/cloud.cfg.d/91_kernel_cmdline_url.cfg
</code></pre>

<p>Now get the metadata_url from there:</p>
<pre><code class="bash">url=$(sudo awk '$1 == &quot;metadata_url:&quot; { print $2 }' $cfg)
echo $url http://10.55.60.194/MAAS/metadata/enlist
</code></pre>

<p>Invoke the client <code>/usr/share/pyshared/cloudinit/sources/DataSourceMAAS.py</code>.
The client has --help usage also, but here is an example of how to use it:</p>
<pre><code class="bash">maasds=&quot;/usr/share/pyshared/cloudinit/sources/DataSourceMAAS.py&quot;
sudo python $maasds --config=$cfg get $url
== http://10.55.60.194/MAAS/metadata/enlist ==
2012-03-01
latest
sudo python $maasds --config=$cfg get $url/latest/meta-data/local-hostname
maas-enlisting-node
</code></pre>
          </main>
        </div>
      </div>
    </div>
    <footer class="p-footer" role="contentinfo">
      <div class="row">
        <div class="col-12">
          <p>&copy; Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical Ltd.</p>
        </div>
      </div>
    </footer>
    <script>
      /* Add classes to links */
      var links = document.querySelectorAll('a');
      var nav = document.querySelector('.p-sidebar-nav');

      for (var linkIndex = 0; linkIndex < links.length; linkIndex++) {
        var link = links[linkIndex];

        /* Add external classes to external links */
        if (link.hostname && link.hostname != location.hostname) {
          link.className += ' p-link--external';
        }

        /* Add "is-active" class to the current nav link */
        if (nav.contains(link) && link.href && link.href.replace('index', '') == location.href) {
          link.className += ' is-active';
        }
      }
    </script>
  </body>
</html>