<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Commission Nodes | MAAS docs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/global.css" />
  </head>
  <body class="theme">
    <header class="p-navigation" role="banner">
      <div class="p-navigation__logo">
        <a class="p-navigation__link" href="/maas/en/">
          <img
            src="/static/media/maas-logo.svg"
            alt="MAAS logo" style="height: 28px; vertical-align: bottom; margin-right: 0.5em;" />
          documentation
        </a>
      </div>
      <nav class="p-navigation__nav">
        <span class="u-off-screen">
          <a href="#main-content">Jump to main content</a>
        </span>
      </nav>
    </header>
    <div class="row">
      <div class="theme__wrap">
        <div class="col-3 theme__sidebar">
          <nav class="p-sidebar-nav">
            <ul class="p-sidebar-nav__list">
              
              <li class="p-sidebar-nav__group">
                
                <h4 class="p-sidebar-nav__header">Introduction</h4>
                

                
                <section id="settings" class="p-sidebar-nav__section">
                  <ul class="p-sidebar-nav__list">
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="index">
                        About MAAS
                      </a>
                      

                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="intro-management">
                        Management summary
                      </a>
                      

                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="intro-concepts">
                        Concepts and terms
                      </a>
                      

                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="intro-architecture">
                        Architectural overview
                      </a>
                      

                      
                    </li>
                    
                  </ul>
                </section>
                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <h4 class="p-sidebar-nav__header">Install & Configure</h4>
                

                
                <section id="settings" class="p-sidebar-nav__section">
                  <ul class="p-sidebar-nav__list">
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="installconfig-install">
                        Installation
                      </a>
                      

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-server-iso">
                              Install from Ubuntu Server ISO
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-package-install">
                              Install from packages
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-lxd-install">
                              Install into LXD
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-upgrade-to-2">
                              Upgrade from 1.9 to 2.0
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="installconfig-gui">
                        Access the GUI
                      </a>
                      

                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="installconfig-zones">
                        Configure zones
                      </a>
                      

                      
                    </li>
                    
                    <li>
                      
                      <span class="p-sidebar-nav__link">Configure network</span>
                      

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-network-static">
                              Static IPs
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-network-ipv6">
                              IPv6
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-proxy">
                              Proxy
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-network-stp">
                              STP
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      
                      <span class="p-sidebar-nav__link">Nodes</span>
                      

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-rack">
                              Rack Controller
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-add-nodes">
                              Add Nodes
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-tags">
                              Tags
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-kernel">
                              Kernel Boot Options
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-hwe-kernels">
                              HWE kernels
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="installconfig-images">
                        Images
                      </a>
                      

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-images-import">
                              Selection and Import
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="installconfig-images-mirror">
                              Local Image Mirror
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                  </ul>
                </section>
                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <h4 class="p-sidebar-nav__header">Manage MAAS</h4>
                

                
                <section id="settings" class="p-sidebar-nav__section">
                  <ul class="p-sidebar-nav__list">
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="manage-account">
                        User Accounts
                      </a>
                      

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-account#add-a-user">
                              Add User
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-account#ssh-keys">
                              SSH Keys
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-account#api-key">
                              API Key
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-account#change-the-password">
                              Change the password
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="manage-maas-ha">
                        High Availability (HA)
                      </a>
                      

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-maas-ha#rack-controller-ha">
                              Rack Controller HA
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-maas-ha#region-controller-ha">
                              Region Controller HA
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-maas-ha#deploy-ha-with-juju">
                              Deploy HA with Juju
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="manage-power">
                        Power Driver Capabilities
                      </a>
                      

                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="manage-cli">
                        MAAS CLI
                      </a>
                      

                      
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-cli-common">
                              Common Tasks
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-cli-images">
                              Image Management
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-cli-dhcp-snippets">
                              DHCP Snippets
                            </a>
                          </li>
                          
                          <li>
                            <a class="p-sidebar-nav__link" href="manage-cli-advanced">
                              Advanced Tasks
                            </a>
                          </li>
                          
                        </ul>
                      </section>
                      
                    </li>
                    
                  </ul>
                </section>
                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <h4 class="p-sidebar-nav__header">Troubleshoot</h4>
                

                
                <section id="settings" class="p-sidebar-nav__section">
                  <ul class="p-sidebar-nav__list">
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="troubleshoot-faq">
                        FAQ
                      </a>
                      

                      
                    </li>
                    
                    <li>
                      
                      <a class="p-sidebar-nav__link" href="troubleshoot-getting-help">
                        Getting help
                      </a>
                      

                      
                    </li>
                    
                  </ul>
                </section>
                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <a class="p-sidebar-nav__link" href="ref-release-notes">Release notes</a>
                

                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <a class="p-sidebar-nav__link" href="http://maas.ubuntu.com/docs/index#developing-maas">Developer Guide</a>
                

                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <a class="p-sidebar-nav__link" href="http://maas.ubuntu.com/docs/api">API Documentation</a>
                

                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <a class="p-sidebar-nav__link" href="contributing">Help improve these docs</a>
                

                
              </li>
              
              <li class="p-sidebar-nav__group">
                
                <a class="p-sidebar-nav__link" href="https://github.com/CanonicalLtd/maas-docs/issues/new">Report a docs issue</a>
                

                
              </li>
              
            </ul>
          </nav>
        </div>
        <div class="col-12 theme__main">
          <main id="main-content" class="theme__inner">
            <h1 id="commission-nodes">Commission Nodes<a class="anchor" href="#commission-nodes"></a></h1>
<p>Once a node is added to MAAS the next logical step is to <em>commission</em> it.</p>
<p>It does this by putting a minimal Ubuntu install onto the node and using scripts
to talk to the region API server. The purpose of this is to ensure that
everything is in working order and that eventual deployment will actually work.</p>
<p>The image used is, by default, the latest Ubuntu LTS release and should not
require changing. However, it can be configured in the web UI in the 'Settings'
page.</p>
<p>To commission a node, select it and choose 'Commission' under the 'Take action'
dropdown menu (orange button).</p>
<p><img alt="commission" src="/static/media/installconfig-commission-nodes__commission.png" /></p>
<p>You have the option of selecting some extra parameters (checkboxes). Then
finalize the directive by hitting 'Go'.</p>
<p><img alt="commission go" src="/static/media/installconfig-commission-nodes__commission-go.png" /></p>
<p>While a node is commissioning its status will change to <em>Commissioning</em>. </p>
<p>See <a href="manage-cli-common#commission-all-machines">MAAS CLI</a> for how to
commission all machines with the 'New' status.</p>
<p class="note"><strong> Note</strong>: If your node has more than one network interface you may need to tell
MAAS which one to use. Do this by marking it <em>Broken</em> (see next section).</p>
<p>Once a node is commissioned its status will change to <em>Ready</em>. Consider taking
the time to <a href="installconfig-tags">tag your nodes</a>.</p>
<p>The next step will be to <em>deploy</em> it (see
<a href="installconfig-deploy-nodes">Deploy nodes</a>).</p>
<h2 id="post-commission-configuration">Post-commission configuration<a class="anchor" href="#post-commission-configuration"></a></h2>
<p>Once a node has been commissioned, its interface(s) can be configured.
Specifically, when a node's status is either 'Ready' or 'Broken', network
interfaces can be added/removed, attached to a fabric and linked to a subnet. </p>
<p><img alt="node interface" src="/static/media/node-interface-ip.png" /></p>
<p>There are four methods to choose from that determines how an IP address gets
assigned when the node is eventually deployed:</p>
<ul>
<li>
<p><strong>Auto Assign</strong> A random non-DHCP address from the subnet that does not fall
  into a <em>reserved range</em>.</p>
</li>
<li>
<p><strong>Static</strong> A static address that the user will enter in a secondary field.</p>
</li>
<li>
<p><strong>DHCP</strong> A dynamic address DHCP. A <em>reserved dynamic range</em> on the associated
  subnet is a requirement. DHCP must be available on the associated VLAN and can
  be internal (MAAS managed) or external.</p>
</li>
<li>
<p><strong>Unconfigured</strong> The interface will be left unconfigured.</p>
</li>
</ul>
<p>See <a href="intro-concepts#ip-ranges">Concepts and terms</a> for definitions of
reserved ranges and reserved dynamic ranges.</p>
          </main>
        </div>
      </div>
    </div>
    <footer class="p-footer" role="contentinfo">
      <div class="row">
        <div class="col-12">
          <p>&copy; Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical Ltd.</p>
        </div>
      </div>
    </footer>
    <script>
      /* Add classes to links */
      var links = document.querySelectorAll('a');
      var nav = document.querySelector('.p-sidebar-nav');

      for (var linkIndex = 0; linkIndex < links.length; linkIndex++) {
        var link = links[linkIndex];

        /* Add external classes to external links */
        if (link.hostname && link.hostname != location.hostname) {
          link.className += ' p-link--external';
        }

        /* Add "is-active" class to the current nav link */
        if (nav.contains(link) && link.href && link.href.replace('index', '') == location.href) {
          link.className += ' is-active';
        }
      }
    </script>
  </body>
</html>