@import 'settings_themes';

@import 'vanilla-framework';
@include vanilla;

// import cookie policy
@import "@canonical/cookie-policy/build/css/cookie-policy";


td {
  vertical-align: top;
}

.p-navigation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

// XXX: MPT - 07/12/23
// Retains width when there are less than 3 matrix items in a row.
// Can be removed if upstreamed.
.p-matrix__item:last-of-type:nth-of-type(3n + 1) {
  @media (min-width: $breakpoint-large) {
    max-width: 33.34%;
  }
}
