{% load versioned_static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-KNX3CJC');</script>
  <!-- End Google Tag Manager -->

  <meta charset="UTF-8" />
  <link rel="icon" href="{{ ASSET_SERVER_URL }}8d4630a6-pictogram-heart-mid-grey.svg">
  <title>Ubuntu documentation</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="The docs directory for all Ubuntu operating systems and products." />
  <link rel="stylesheet" href="{% versioned_static 'css/main.css' %}" />
  <link rel="icon" type="image/png" href="https://assets.ubuntu.com/v1/cb22ba5d-favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="https://assets.ubuntu.com/v1/49a1a858-favicon-32x32.png" sizes="32x32">
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KNX3CJC" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->

  {% block content %}{% endblock content %}

  {% include "footer.html" %}
  <script src="{% versioned_static 'js/dist/global-nav.js' %}"></script>
  <script src="{% versioned_static 'js/dist/cookie-policy.js' %}"></script>
</body>

</html>
