{% load versioned_static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-K92JCQ');</script>
        <!-- End Google Tag Manager -->

        <meta charset="UTF-8" />
        <link rel="icon" href="{{ ASSET_SERVER_URL }}8d4630a6-pictogram-heart-mid-grey.svg">
        <title>Ubuntu documentation</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% versioned_static 'css/homepage.css' %}" />
    </head>
    <body class="theme">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K92JCQ"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        {% block content %}{% endblock content %}
        <footer class="p-footer" role="contentinfo">
            <div class="row">
                <p>&copy; Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical Ltd.</p>
            </div>
        </footer>
    </body>
</html>
