<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Ubuntu documentation</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/homepage.css" />
    </head>
    <body class="theme">
        <main id="main-content">
                {% block content %}{% endblock content %}
        </main>
        <footer class="p-footer" role="contentinfo">
            <div class="row">
                <p>&copy; Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical Ltd.</p>
            </div>
        </footer>
    </body>
</html>
