<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }} | MAAS docs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/global.css" />
  </head>
  <body class="theme">
    <header class="p-navigation" role="banner">
      <div class="p-navigation__logo">
        <a class="p-navigation__link" href="/en/">
          <img
            src="/static/media/maas-logo.svg"
            alt="MAAS logo" style="height: 28px; vertical-align: bottom; margin-right: 0.5em;" />
          documentation
        </a>
      </div>
      <nav class="p-navigation__nav">
        <span class="u-off-screen">
          <a href="#main-content">Jump to main content</a>
        </span>
      </nav>
    </header>
    <div class="row">
      <div class="theme__wrap">
        <div class="col-3 theme__sidebar">
          <nav class="p-sidebar-nav">
            <ul class="p-sidebar-nav__list">
              {% for item in navigation %}
              <li class="p-sidebar-nav__group">
                {% if item.location %}
                <a class="p-sidebar-nav__link" href="{{ item.location | replace('.html', '') }}">{{ item.title }}</a>
                {% else %}
                <h4 class="p-sidebar-nav__header">{{ item.title }}</h4>
                {% endif %}

                {% if item.children %}
                <section id="settings" class="p-sidebar-nav__section">
                  <ul class="p-sidebar-nav__list">
                    {% for child in item.children %}
                    <li>
                      {% if child.location %}
                      <a class="p-sidebar-nav__link" href="{{ child.location | replace('.html', '') }}">
                        {{ child.title }}
                      </a>
                      {% else %}
                      <span class="p-sidebar-nav__link">{{ child.title }}</span>
                      {% endif %}

                      {% if child.children %}
                      <section id="settings" class="p-sidebar-nav__section">
                        <ul class="p-sidebar-nav__list">
                          {% for grandchild in child.children %}
                          <li>
                            <a class="p-sidebar-nav__link" href="{{ grandchild.location | replace('.html', '') }}">
                              {{ grandchild.title }}
                            </a>
                          </li>
                          {% endfor %}
                        </ul>
                      </section>
                      {% endif %}
                    </li>
                    {% endfor %}
                  </ul>
                </section>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
        <div class="col-12 theme__main">
          <main id="main-content" class="theme__inner">
            {{ content }}
          </main>
        </div>
      </div>
    </div>
    <footer class="p-footer" role="contentinfo">
      <div class="row">
        <div class="col-12">
          <p>&copy; Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical Ltd.</p>
        </div>
      </div>
    </footer>
    <script>
      /* Add classes to links */
      var links = document.querySelectorAll('a');
      var nav = document.querySelector('.p-sidebar-nav');

      for (var linkIndex = 0; linkIndex < links.length; linkIndex++) {
        var link = links[linkIndex];

        /* Add external classes to external links */
        if (link.hostname && link.hostname != location.hostname) {
          link.className += ' p-link--external';
        }

        /* Add "is-active" class to the current nav link */
        if (nav.contains(link) && link.href && link.href.replace('index', '') == location.href) {
          link.className += ' is-active';
        }
      }
    </script>
  </body>
</html>
