{% block footer %}
<div class="p-strip is-shallow">
  <div class="row">
    <p class="u-hide--medium u-hide--large link-to-top"><a href="#">Back to top</a></p>
    <div class="col-8">
      <ul class="p-inline-list">
        <li class="u-hide--small p-inline-list__item">
          <a class="p-button--neutral" href="https://www.ubuntu.com/contact-us">Contact us</a>
        </li>
        <li class="u-hide--medium u-hide--large p-inline-list__item">
          <a class="p-link--soft" href="https://www.ubuntu.com/contact-us">Contact us</a>
        </li>
        <li class="p-inline-list__item">
          <a class="p-link--soft" href="https://www.ubuntu.com/about">About us</a>
        </li>
        <li class="p-inline-list__item">
          <a class="p-link--soft" href="https://www.ubuntu.com/community">Community</a>
        </li>
        <li class="p-inline-list__item">
          <a class="p-link--soft" href="http://www.canonical.com/careers">Careers</a>
        </li>
        <li class="p-inline-list__item">
          <a class="p-link--soft" href="https://insights.ubuntu.com/press-centre/">Press centre</a>
        </li>
      </ul>

      <p>&copy; {% now "Y" %} Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical Ltd.</p>
      <ul class="p-inline-list--middot">
        <li class="p-inline-list__item">
          <a class="p-link--soft" accesskey="8" href="https://www.ubuntu.com/legal">Legal information</a>
        </li>
        <li class="p-inline-list__item">
          <a href="" class="p-link--soft js-revoke-cookie-manager">Manage your tracker settings</a>
        </li>
        <li class="p-inline-list__item">
          <a class="p-link--soft" href="https://github.com/canonical-websites/docs.ubuntu.com/issues/new" id="report-a-bug">Report a bug on this site</a>
        </li>
      </ul>
    </div>
    <div class="col-4">
      <ul class="p-inline-list u-align--center u-no-margin--top">
        <li class="p-inline-list__item">
          <a href="https://twitter.com/ubuntu" title="Share on Twitter"><i class="p-icon--twitter"></i></a>
        </li>
        <li class="p-inline-list__item">
          <a href="https://www.facebook.com/ubuntulinux/" title="Share on Facebook"><i class="p-icon--facebook"></i></a>
        </li>
        <li class="p-inline-list__item">
          <a href="https://www.linkedin.com/company-beta/234280/?pathWildcard=234280" title="Share on LinkedIn"><i class="p-icon--linkedin"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div>
  <span class="u-off-screen"><a href="#">Go to the top of the page</a></span>
</div>
{% endblock footer %}
