{% extends 'includes/layout.html' %}

{% block meta_description %}The docs directory for all Ubuntu operating systems and products.{% endblock %}

{% block content %}

<header id="navigation" class="p-navigation is-dark">
  <div class="p-navigation__row u-fixed-width" style="width: auto;">
    <div class="p-navigation__banner">
      <div class="p-navigation__tagged-logo">
        <a class="p-navigation__link" href="#">
          <div class="p-navigation__logo-tag">
            <img class="p-navigation__logo-icon" src="https://assets.ubuntu.com/v1/82818827-CoF_white.svg" alt="">
          </div>
          <span class="p-navigation__logo-title">Canonical Ubuntu</span>
        </a>
      </div>
    </div>
  </div>
</header>

<main id="main-content">
  <div class="p-strip--light is-shallow">
    <div class="row">
      <div class="col-8">
        <h1>Documentation directory</h1>
        <p>The documentation directory for all Ubuntu operating systems and products.</p>
      </div>
    </div>
  </div>
  <div class="p-strip">
    <div class="row"  style="display: flex; flex-flow: column; overflow-x: auto;">
      <table aria-label="Vanilla framework table example" style="min-width: 800px;">
        <thead>
          <tr>
            <th></th>
            <th><strong>IoT/Edge</strong></th>
            <th><strong>Embedded</strong></th>
            <th><strong>Workstation</strong></th>
            <th><strong>Containers and VMs</strong></th>
            <th><strong>Data centre</strong></th>
            <th><strong>Cloud</strong></th>
          </tr>
        </thead>
        <tbody>
          <!-- PLATFORMS -->
          <tr>
            <th rowspan="5" scope="rowgroup"><strong>Platform</strong></th>
            <td></td>
            <td><a href="https://documentation.ubuntu.com/real-time/en/latest/#">Real-time Ubuntu</a></td>
            <td><a href="https://help.ubuntu.com/lts/ubuntu-help/index.html">Ubuntu Desktop</a></td>
            <td><a href="https://documentation.ubuntu.com/lxd/en/latest/">LXD</a></td>
            <td><a href="https://charmed-kubeflow.io/docs">Canonical Kubeflow</a></td>
            <td><a href="https://documentation.ubuntu.com/anbox-cloud/en/latest/">Anbox Cloud</a></td>
          </tr>
          <tr>
            <td></td>
            <td><a href="https://canonical-robotics.readthedocs-hosted.com/en/latest/">Robotics</a></td>
            <td><a href="https://canonical-kernel-docs.readthedocs-hosted.com/en/latest/">Ubuntu Kernel</a></td>
            <td><a href="https://documentation.ubuntu.com/multipass/en/latest">Multipass</a></td>
            <td><a href="https://documentation.ubuntu.com/canonical-kubernetes/latest/">Canonical Kubernetes</a></td>
            <td><a href="https://documentation.ubuntu.com/microcloud">MicroCloud</a></td>
          </tr>
          <tr>
            <td></td>
            <td><a href="https://ubuntu.com/core/docs">Ubuntu Core</a></td>
            <td><a href="https://documentation.ubuntu.com/server/">Ubuntu Server</a></td>
            <td><a href="https://documentation.ubuntu.com/wsl/en/latest/">Ubuntu on WSL</a></td>
            <td><a href="https://canonical-openstack.readthedocs-hosted.com/en/latest/">Canonical OpenStack</a></td>
            <td><a href="https://documentation.ubuntu.com/public-cloud/en/latest/">Public Cloud</a></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td><a href="https://documentation.ubuntu.com/ubuntu-for-developers/">Ubuntu for developers</a></td>
            <td></td>
            <td><a href="https://microk8s.io/docs">MicroK8s</a></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td><a href="https://canonical-ubuntu-hardware-support.readthedocs-hosted.com/">Ubuntu hardware support</a></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <!-- Management -->
          <tr style="border-top: 1px solid rgba(0,0,0,0.2);">
            <th rowspan="4" scope="rowgroup"><strong>Management</strong></th>
            <td><a href="https://documentation.ubuntu.com/pebble/">Pebble</a></td>
            <td><a href="https://snapcraft.io/docs">Snap</a></td>
            <td><a href="https://documentation.ubuntu.com/landscape/">Landscape</a></td>
            <td><a href="https://documentation.ubuntu.com/data-science-stack/en/latest/">Data Science Stack</a></td>
            <td><a href="https://documentation.ubuntu.com/jaas/v3/">JAAS</a></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td><a href="https://documentation.ubuntu.com/pro/">Ubuntu Pro</a></td>
            <td></td>
            <td><a href="https://juju.is/docs">Juju</a></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="https://documentation.ubuntu.com/launchpad/en/latest/">Launchpad</a></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="https://canonical.com/maas/docs">MAAS</a></td>
            <td></td>
          </tr>
          <!-- Store -->
          <tr style="border-top: 1px solid rgba(0,0,0,0.2);">
            <th rowspan="2" scope="rowgroup"><strong>Stores</strong></th>
            <td></td>
            <td><a href="https://snapcraft.io/docs">Snap Store</a></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="https://charmhub.io/">Charmhub</a></td>
          </tr>
          <tr >
            <td></td>
            <td><a href="https://documentation.ubuntu.com/enterprise-store/">Enterprise Store</a></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <!-- Apps -->
          <tr style="border-top: 1px solid rgba(0,0,0,0.2);">
            <th rowspan="5" scope="rowgroup"><strong>Apps</strong></th>
            <td></td>
            <td><a href="https://canonical-matter.readthedocs-hosted.com/en/latest/">Matter on Ubuntu</a></td>
            <td><a href="https://documentation.ubuntu.com/adsys/en/latest/">ADSys</a></td>
            <td><a href="https://dqlite.io/docs">dqlite</a></td>
            <td><a href="https://ubuntu.com/ceph/docs">Ceph</a></td>
            <td><a href="https://documentation.ubuntu.com/authd/en/stable/">authd</a></td>
          </tr>
          <tr>
            <td></td>
            <td><a href="https://mir-server.io/docs">Mir</a></td>
            <td><a href="https://canonical-netplan.readthedocs-hosted.com/en/latest/">Netplan</a></td>
            <td></td>
            <td><a href="https://documentation.ubuntu.com/charmed-mlflow/en/latest/">Charmed MLflow</a></td>
            <td><a href="https://canonical.com/data/docs">Charmed Data</a></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="https://canonical-microceph.readthedocs-hosted.com/en/reef-stable/">MicroCeph</a></td>
            <td><a href="https://docs.cloud-init.io/en/latest/">cloud-init</a></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="https://canonical-microovn.readthedocs-hosted.com/en/latest/">MicroOVN</a></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="https://canonical.com/microstack/docs">MicroStack</a></td>
            <td></td>
          </tr>
          <!-- Tools -->
          <tr style="border-top: 1px solid rgba(0,0,0,0.2);">
            <th scope="row"><strong>Tools</strong></th>
            <td></td>
            <td><a href="https://documentation.ubuntu.com/snapcraft/">Snapcraft</a></td>
            <td><a href="https://documentation.ubuntu.com/chisel/en/latest/">Chisel</a></td>
            <td><a href="https://documentation.ubuntu.com/rockcraft/">Rockcraft</a></td>
            <td><a href="https://canonical-charmcraft.readthedocs-hosted.com">Charmcraft</a></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="p-strip">
    <div class="row">
      <h2>Our products</h2>
    </div>
    <div class="row">
      <ul class="p-matrix u-clearfix">
        <li class="p-matrix__item">
          <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/0de4fcd5-logo-maas-icon.svg" alt="MAAS">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title"><a class="p-link" href="https://canonical.com/maas/docs">MAAS&nbsp;</a></h3>
            <div class="p-matrix__desc">
              <p>Create a bare-metal cloud with Metal as a Service for IPAM and provisioning</p>
            </div>
          </div>
        </li>
        <li class="p-matrix__item">
          <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/31c507a5-logo-juju-icon.svg" alt="Juju">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title"><a class="p-link" href="https://juju.is/docs">Juju&nbsp;</a></h3>
            <div class="p-matrix__desc">
              <p>Model-driven multi-cloud operations for applications with big data, k8s and OpenStack solutions</p>
            </div>
          </div>
        </li>
        <li class="p-matrix__item">
          <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/19c7461a-snapcraft-primary-icon--dark.svg" alt="Snapcraft">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title"><a class="p-link" href="https://snapcraft.io/docs">Snapcraft&nbsp;</a></h3>
            <div class="p-matrix__desc">
              <p>A single secure package and auto-update system for Linux distributions</p>
            </div>
          </div>
        </li>
        <li class="p-matrix__item">
          <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/425efe3a-lxd.svg" alt="LXD">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title"><a class="p-link" href="https://documentation.ubuntu.com/lxd">LXD&nbsp;</a></h3>
            <div class="p-matrix__desc">
              <p>Fast, dense, and secure container and VM management at any scale</p>
            </div>
          </div>
        </li>
        <li class="p-matrix__item">
          <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/4964d639-landscape-logo.svg" alt="Landscape">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title"><a class="p-link" href="https://documentation.ubuntu.com/landscape/">Landscape&nbsp;</a></h3>
            <div class="p-matrix__desc">
              <p>Systems management for Ubuntu - updates, package management, repositories, security</p>
            </div>
          </div>
        </li>
        <li class="p-matrix__item">
          <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/3cefa82a-Snapcraft+Proxy_Aubergine.svg" alt="Enterprise Store">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title"><a class="p-link" href="https://documentation.ubuntu.com/enterprise-store/">Enterprise Store&nbsp;</a></h3>
            <div class="p-matrix__desc">
              <p>The Enterprise Store provides an on-premise edge proxy to the Snap Store for your devices</p>
            </div>
          </div>
        </li>
        <li class="p-matrix__item">
          <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/2d850f3f-CoF%2520Circle%2520New.svg" alt="Mir">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title"><a class="p-link" href="https://mir-server.io/doc/">Mir&nbsp;</a></h3>
            <div class="p-matrix__desc">
              <p>Ultra-fast and light Wayland compositor for secure device display management</p>
            </div>
          </div>
        </li>
        <li class="p-matrix__item">
          <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/ea34f006-Multipass+logomark_rgb.svg" alt="Multipass">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title"><a class="p-link" href="https://documentation.ubuntu.com/multipass/en/latest">Multipass&nbsp;</a></h3>
            <div class="p-matrix__desc">
              <p>Ubuntu virtual machines on demand for Linux, MacOS and Windows</p>
            </div>
          </div>
        </li>
        <li class="p-matrix__item">
          <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/2d850f3f-CoF%2520Circle%2520New.svg" alt="cloud-init">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title"><a class="p-link" href="https://cloudinit.readthedocs.io/en/latest/">Cloud-init&nbsp;</a></h3>
            <div class="p-matrix__desc">
              <p>Apply user data to your instances automatically</p>
            </div>
          </div>
        </li>
        <li class="p-matrix__item">
          <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/2d850f3f-CoF%2520Circle%2520New.svg" alt="dqlite">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title"><a class="p-link" href="https://dqlite.io/docs/">Dqlite&nbsp;</a></h3>
            <div class="p-matrix__desc">
              <p>Dqlite is a fast, embedded, persistent SQL database with Raft consensus that is perfect for fault-tolerant IoT and Edge devices.</p>
            </div>
          </div>
        </li>
        <li class="p-matrix__item">
          <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/8dd22a22-menu-icon--product-kubernetes.svg" alt="MicroK8s">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title"><a class="p-link" href="https://microk8s.io/docs">MicroK8s&nbsp;</a></h3>
            <div class="p-matrix__desc">
              <p>The smallest, simplest, pure production K8s. For clusters, laptops, IoT and Edge, on Intel and ARM</p>
            </div>
          </div>
        </li>
        <li class="p-matrix__item">
          <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/8dd22a22-menu-icon--product-kubernetes.svg" alt="Charmed Kubernetes">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title"><a class="p-link" href="https://documentation.ubuntu.com/canonical-kubernetes/latest/">Canonical Kubernetes&nbsp;</a></h3>
            <div class="p-matrix__desc">
              <p>Pure Kubernetes tested across the widest range of clouds with modern metrics and monitoring</p>
            </div>
          </div>
        </li>
        <li class="p-matrix__item">
          <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/0fbee9c4-pictogram_internet01.svg" alt="Netplan">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title"><a class="p-link" href="https://netplan.io/reference">Netplan&nbsp;</a></h3>
            <div class="p-matrix__desc">
              <p>Network abstraction for Linux to simplify and standardise complex network configuration</p>
            </div>
          </div>
        </li>
        <li class="p-matrix__item">
          <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/2d850f3f-CoF%2520Circle%2520New.svg" alt="Charmed OpenStack">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title"><a class="p-link" href="https://ubuntu.com/openstack/docs">Charmed OpenStack&nbsp;</a></h3>
            <div class="p-matrix__desc">
              <p>Enterprise private cloud engineered for the best price-performance.</p>
            </div>
          </div>
        </li>
        <li class="p-matrix__item">
          <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/2d850f3f-CoF%2520Circle%2520New.svg" alt="MicroStack">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title"><a class="p-link" href="https://microstack.run/docs">MicroStack&nbsp;</a></h3>
            <div class="p-matrix__desc">
              <p>Multi-node OpenStack for the edge, micro clouds and developers.</p>
            </div>
          </div>
        </li>
        <li class="p-matrix__item">
          <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/2d850f3f-CoF%2520Circle%2520New.svg" alt="Anbox Cloud">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title"><a class="p-link" href="https://anbox-cloud.io/docs">Anbox Cloud&nbsp;</a></h3>
            <div class="p-matrix__desc">
              <p>Enables running Android apps on any cloud platform at scale</p>
            </div>
          </div>
        </li>
        <li class="p-matrix__item">
          <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/2d850f3f-CoF%2520Circle%2520New.svg" alt="Charmed Kubeflow">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title"><a class="p-link" href="https://charmed-kubeflow.io/docs">Charmed Kubeflow&nbsp;</a></h3>
            <div class="p-matrix__desc">
              <p>End-to-end, production-ready <a href="https://ubuntu.com/blog/what-is-mlops">MLOps</a> platform on top of cloud native technologies</p>
            </div>
          </div>
        </li>
        <li class="p-matrix__item">
          <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/2d850f3f-CoF%2520Circle%2520New.svg" alt="Charmed MLflow">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title"><a class="p-link" href="https://documentation.ubuntu.com/charmed-mlflow/en/latest/">Charmed MLflow&nbsp;</a></h3>
            <div class="p-matrix__desc">
              <p>Charmed MLflow is a platform for managing the end-to-end machine learning lifecycle.</p>
            </div>
          </div>
        </li>
        <li class="p-matrix__item">
          <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/2d850f3f-CoF%2520Circle%2520New.svg" alt="Data Science Stack">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title"><a class="p-link" href="https://documentation.ubuntu.com/data-science-stack/en/latest/">Data Science Stack&nbsp;</a></h3>
            <div class="p-matrix__desc">
              <p>Ready-to-run environment for machine learning and data science, built on MicroK8s, JupyterLab and MLflow.</p>
            </div>
          </div>
        </li>
        <li class="p-matrix__item">
          <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/2d850f3f-CoF%2520Circle%2520New.svg" alt="Rockcraft">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title"><a class="p-link" href="https://documentation.ubuntu.com/rockcraft/en/stable/">Rockcraft&nbsp;</a></h3>
            <div class="p-matrix__desc">
              <p>Rockcraft is a tool to create rocks – a new generation of secure, stable and OCI-compliant container images.</p>
            </div>
          </div>
        </li>
        <li class="p-matrix__item">
          <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/2d850f3f-CoF%2520Circle%2520New.svg" alt="Chisel">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title"><a class="p-link" href="https://documentation.ubuntu.com/chisel/">Chisel&nbsp;</a></h3>
            <div class="p-matrix__desc">
              <p>A CLI tool for creating minimal Ubuntu filesystems.</p>
            </div>
          </div>
        </li>
        <li class="p-matrix__item"></li>
        <li class="p-matrix__item"></li>
      </ul>
    </div>
  </div>

  <div class="p-strip is-shallow u-no-padding--top">
    <div class="row">
      <h2>The Ubuntu OS</h2>
    </div>
    <div class="row">
      <ul class="p-matrix">
        <li class="p-matrix__item">
          <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/cf8634c6-icon-intro-desktop.svg" alt="Desktop">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title"><a class="p-link" href="https://help.ubuntu.com/stable/ubuntu-help">Desktop</a></h3>
            <div class="p-matrix__desc">
              <p>The world's most popular Linux for desktop computing.</p>
            </div>
          </div>
        </li>
        <li class="p-matrix__item">
          <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/d519342f-icon-intro-server.svg" alt="Server">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title"><a class="p-link" href="https://ubuntu.com/server/docs">Server</a></h3>
            <div class="p-matrix__desc">
              <p>Configure a simple file server or build a fifty thousand-node cloud, learn how with the server docs.</p>
            </div>
          </div>
        </li>
        <li class="p-matrix__item">
          <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/2d850f3f-CoF%2520Circle%2520New.svg" alt="Core">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title"><a class="p-link" href="https://docs.ubuntu.com/core/en/">Core</a></h3>
            <div class="p-matrix__desc">
              <p>Documentation for the new, transactionally updated Ubuntu for clouds and devices.</p>
            </div>
          </div>
        </li>
        <li class="p-matrix__item">
          <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/2d850f3f-CoF%2520Circle%2520New.svg" alt="ubuntu-dev">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title"><a class="p-link" href="https://documentation.ubuntu.com/ubuntu-for-developers/">Ubuntu for developers</a></h3>
            <div class="p-matrix__desc">
              <p>This documentation provides guidance for using the Ubuntu Desktop Linux distribution as a development platform.</p>
            </div>
          </div>
        </li>
        <li class="p-matrix__item">
          <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/2d850f3f-CoF%2520Circle%2520New.svg" alt="Public cloud">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title"><a class="p-link" href="https://documentation.ubuntu.com/public-cloud/">Public Cloud</a></h3>
            <div class="p-matrix__desc">
              <p>Secure and customised Ubuntu images for all the major cloud providers.</p>
            </div>
          </div>
        </li>
        <li class="p-matrix__item">
          <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/2d850f3f-CoF%2520Circle%2520New.svg" alt="Real-time Ubuntu">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title"><a class="p-link" href="https://documentation.ubuntu.com/real-time/">Real-time Ubuntu</a></h3>
            <div class="p-matrix__desc">
              <p>Enterprise-grade real-time kernel for end-to-end security and reliability in time-bound workloads.</p>
            </div>
          </div>
        </li>
        <li class="p-matrix__item">
          <img class="p-matrix__img" src="https://assets.ubuntu.com/v1/2d850f3f-CoF%2520Circle%2520New.svg" alt="Ubuntu hardware support">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title"><a class="p-link" href="https://canonical-ubuntu-hardware-support.readthedocs-hosted.com/">Ubuntu hardware support</a></h3>
            <div class="p-matrix__desc">
              <p>Documentation for installing Ubuntu on a variety of (typically non-PC) hardware.</p>
            </div>
          </div>
        </li>
        <li class="p-matrix__item">
        </li>
        <li class="p-matrix__item"></li>
      </ul>
    </div>
  </div>

  <div class="p-strip--light">
    <div class="row u-sv3">
      <h2>Creating documentation</h2>
    </div>
    <div class="row">
      <div class="p-card col-4">
        <h4 class="p-card__title"><a href="/styleguide/en">Style guide&nbsp;&rsaquo;</a></h4>
        <p class="p-card__content">A guide to the language and style conventions used for Canonical documentation projects.</p>
      </div>
    </div>
  </div>
</main>

{% endblock content %}
