{% include 'includes/layout.html' %}

{% block 'content' %}
<div class="row">
    <div class="eight-col">
        <h1>Ubuntu documentation</h1>
        <p>
            The home for Ubuntu documentation
        </p>
    </div>
    <div class="four-col last-col">
        <img src="{{ ASSET_SERVER_URL }}b4438cf8-image-picto-projects-we-love-195.png" />
    </div>
</div>

<div class="row">
    <h2>Featured documentation</h2>
    <table>
        <thead>
            <tr>
                <th>
                    Project
            </th>
                <th>
                    Description
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Maas
                </td>
                <td>
                    <p>
                        Documentation for MAAS (Metal as a Service).
                    </p>
                    <p>
                        <a href="/maas">Learn more about MAAS &gt;</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    Ubuntu Core
                </td>
                <td>
                    <p>
                        Documentation for the next generation OS from Ubuntu for all your IoT devices.
                    </p>
                    <p>
                        <a href="/core">Learn more about Ubuntu Core &gt;</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    Snapcraft
                </td>
                <td>
                    <p>
                        Developer documentation to learn how to snap your apps for easy cross platform distribution and updates that just work.
                    </p>
                    <p>
                        <a href="http://snapcraft.io/" class="p-link--external">Learn more about snapcraft &gt;</a>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <h2>What is this site?</h2>
    <p>
        The Ubuntu documentation site is a service that makes it easy to publish product documentation from github or Launchpad that has been written in markdown format with a defined table of contents and in a simple directory structure.  It supports embedding images and versions of documents.  If you are interested in moving your documentation to this service, please get in touch.
    </p>
</div>
{% endblock 'content' %}
