{% extends 'includes/layout.html' %}

{% block content %}
    <style>
      .pagination ul {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
      }
      .pagination__forward {
        float: right;
      }
      .pagination__item {
        float: left;
        margin: .5em;
      }
      .pagination__forward :last-child {
        margin-right: 0;
      }
      .pagination__back :first-child {
        margin-left: 0;
      }
      .pagination__back {
        float: left;
      }

      .p-navigation {
        background-color: #fff;
      }
      .p-navigation .p-navigation__link {
        color: #333 !important;
      }

      #search-results article b {
        margin-top: 0;
      }
    </style>

    <header class="p-navigation" role="banner">
      <div class="p-navigation__banner">
        {% if domains|length == 1 and 'docs.ubuntu.com/core' in domains %}
          <div class="p-navigation__logo">
            <a class="p-navigation__link" href="/core/">
              Ubuntu Core documentation
            </a>
          </div>
        {% elif domains|length == 1 and 'docs.ubuntu.com/maas' in domains %}
          <div class="p-navigation__logo">
            <a class="p-navigation__link" href="/maas/">
              MAAS documentation
            </a>
          </div>
        {% elif domains|length == 1 and 'docs.ubuntu.com/phone' in domains %}
          <div class="p-navigation__logo">
            <a class="p-navigation__link" href="/phone/">
              Ubuntu Phone documentation
            </a>
          </div>
        {% elif domains|length == 1 and 'docs.jujucharms.com' in domains %}
          <div class="p-navigation__logo">
            <a class="p-navigation__link" href="https://docs.jujucharms.com">
              Juju documentation
            </a>
          </div>
        {% else %}
          <div class="p-navigation__logo">
            <a class="p-navigation__link" href="/core/">
              Ubuntu documentation
            </a>
          </div>
        {% endif %}

        <nav class="p-navigation__nav" role="menubar">
          <form id="search" action="/search" class="p-search-box">
            {% if domains|length == 1 and 'docs.ubuntu.com/maas' in domains %}
              <input class="p-search-box__input" type="search" name="q" id="search" placeholder="Search MAAS docs" />
            {% elif domains|length == 1 and 'docs.ubuntu.com/core' in domains %}
              <input class="p-search-box__input" type="search" name="q" id="search" placeholder="Search Core docs" />
            {% elif domains|length == 1 and 'docs.jujucharms.com' in domains %}
              <input class="p-search-box__input" type="search" name="q" id="search" placeholder="Search Juju docs" />
            {% elif domains|length == 1 and 'docs.ubuntu.com/phone' in domains %}
              <input class="p-search-box__input" type="search" name="q" id="search" placeholder="Search Phone docs" />
            {% else %}
              <input class="p-search-box__input" type="search" name="q" id="search" placeholder="Search all docs" />
            {% endif %}
            {% for domain in domains %}
              <input type="hidden" name="domain" value="{{ domain }}" />
            {% endfor %}
            <button type="submit" class="p-search-box__button" alt="search"><i class="p-icon--search"></i></button>
          </form>
        </nav>
      </div>
    </header>

    <main id="main-content" class="u-no-margin--top">
      <div class="p-strip--light">
        <div class="row">
          <div class="col-9">
            {% if query and not error %}
              <h1>Your search for '{{ query }}' returned {{ results.total }} results</h1>
            {% else %}
              {% if 'docs.ubuntu.com/core' in domains %}
                <h1>Search Ubuntu Core documentation</h1>
              {% elif 'docs.ubuntu.com/maas' in domains %}
                <h1>Search MAAS documentation</h1>
              {% elif 'docs.jujucharms.com' in domains %}
                <h1>Search Juju documentation</h1>
              {% elif 'docs.ubuntu.com/phone' in domains %}
                <h1>Search Ubuntu Phone documentation</h1>
              {% else %}
                <h1>Search Ubuntu documentation</h1>
              {% endif %}
            {% endif %}

            <form action="/search" class="p-search-box">
              {% if domains|length == 1 and 'docs.ubuntu.com/maas' in domains %}
                <input class="p-search-box__input" type="search" name="q" id="search" placeholder="Search MAAS docs" />
              {% elif domains|length == 1 and 'docs.ubuntu.com/core' in domains %}
                <input class="p-search-box__input" type="search" name="q" id="search" placeholder="Search Core docs" />
              {% elif domains|length == 1 and 'docs.jujucharms.com' in domains %}
                <input class="p-search-box__input" type="search" name="q" id="search" placeholder="Search Juju docs" />
              {% elif domains|length == 1 and 'docs.ubuntu.com/phone' in domains %}
                <input class="p-search-box__input" type="search" name="q" id="search" placeholder="Search Phone docs" />
              {% else %}
                <input class="p-search-box__input" type="search" name="q" id="search" placeholder="Search all docs" />
              {% endif %}
              {% for domain in domains %}
                <input type="hidden" name="domain" value="{{ domain }}" />
              {% endfor %}
              <button type="submit" class="p-search-box__button" alt="search"><i class="p-icon--search"></i></button>
            </form>
          </div>
        </div>
      </div>

      <div class="p-strip">
        <div class="row">
          <div class="col-19">
            {% if query %}
              {% if error %}
                <label for="search-input" role="error" class="error-notification">
                  Failed to retrieve search results ({{ error }}). If you have time, please <a href="https://github.com/ubuntudesign/docs.ubuntu.com/issues/new">file a bug</a>.
                </label>
              {% else %}
                {% if results.items %}
                  <h4>{{ results.total }} results for "{{ query }}"</h4>

                  <section id="search-results">
                    <p>Results {{ results.start }} to {{ results.end }}</p>

                    {% for item in results.items %}
                      <article class="p-strip is-shallow is-bordered">
                        <h4>
                          <a href="{{ item.url }}">{{ item.title | safe }}</a>
                        </h4>
                        <p><small>{{ item.url }}</small></p>
                        <p class="u-no-margin--top">{{ item.summary | safe }}</p>
                      </article>
                    {% endfor %}

                    <p>Results {{ results.start }} to {{ results.end }} of {{ results.total }}</p>
                  </section>

                  {% if results.last_page > 1 %}
                    <nav class="pagination" id="page-nav">
                      {% if results.current_page > 1 %}
                        <ul class="pagination__back">
                          <li class="pagination__item"><a href="/search?q={{ query }}&limit={{ limit }}&offset=0">&#8249;&#8249; First</a></li>
                          {% if results.current_page > 2 %}
                            <li class="pagination__item"><a href="/search?q={{ query }}&limit={{ limit }}&offset={{ results.previous_offset }}">&#8249; Previous</a></li>
                          {% endif %}
                        </ul>
                      {% endif %}

                      {% if results.current_page != results.last_page %}
                        <ul class="pagination__forward">
                          {% if results.current_page < results.penultimate_page %}
                            <li class="pagination__item"><a href="/search?q={{ query }}&limit={{ limit }}&offset={{ results.next_offset }}&domain={{ domains | join:'&domain=' }}">Next &#8250;</a></li>
                          {% endif %}
                          <li class="pagination__item"><a href="/search?q={{ query }}&limit={{ limit }}&offset={{ results.last_page_offset }}&domains={{ domains | join:'&domain=' }}">Last &#8250;&#8250;</a></li>
                        </ul>
                      {% endif %}
                    </nav>
                  {% endif %}
                {% else %}
                  <h2>Sorry we couldn't find "{{ query }}"</h2>

                  <h3>Why not try widening your search? You can do this by:</h3>

                  <ul>
                    <li>Adding alternative words or phrases</li>
                    <li>Using individual words instead of phrases</li>
                    <li>Trying a different spelling</li>
                  </ul>

                  <h2>Still no luck?</h2>

                  <ul>
                    {% if 'docs.ubuntu.com/core' in domains %}
                      <li><a href="/core">Visit the Ubuntu Core documentation homepage</a></li>
                    {% elif 'docs.ubuntu.com/maas' in domains %}
                      <li><a href="/maas">Visit the MAAS documentation homepage</a></li>
                    {% elif 'docs.jujucharms.com' in domains %}
                      <li><a href="https://docs.jujucharms.com">Visit the Juju documentation homepage</a></li>
                    {% elif 'docs.ubuntu.com/phone' in domains %}
                      <li><a href="/phone">Visit the Ubuntu Phone documentation homepage</a></li>
                    {% else %}
                      <li><a href="/">Visit the Ubuntu Documentation homepage</a></li>
                    {% endif %}
                    <li><a href="https://github.com/ubuntudesign/docs.ubuntu.com/issues/new">Report an issue with the site</a></li>
                  </ul>
                {% endif %} {# results.items #}
              {% endif %}
            {% endif %} {# query #}
          </div>
        </div>
      </div>
    </main>

    <script>
      /* Add classes to links */
      var links = document.querySelectorAll('a');
      links.forEach(function(link) {
        if (link.hostname && link.hostname != location.hostname) {
          link.className += ' p-link--external';
        }
      });

      /* Setup sticky table of contents */
      var aside = document.querySelector('#side-content');
      if (aside) {
        var asideOffset = aside.offsetTop;
        var asideWidth = aside.offsetWidth;
        var backToTop = document.querySelector('#back-to-top');

        window.addEventListener(
          'scroll',
          function(scrollEvent) {
            var scrolled = window.innerWidth >= 768 && window.scrollY > asideOffset;

            aside.classList.toggle('fixed', scrolled);

            if (scrolled) {
              aside.style.width = asideWidth + 'px';
              backToTop.style.display = 'block';
            } else {
              aside.style.width = '';
              backToTop.style.display = 'none';
            }
          }
        );
      }
    </script>
{% endblock content %}
